{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('feedback-error.title') }}</h1>

    <div>
        <p>
        {{ banner('red', '<p><strong>' + __('feedback.error') + '</strong></p>') }}
        </p>
        <p>
            {{ __('feedback.go_back') }}
        </p>
    </div>

{% endblock %}
