{% extends "base.njk" %}

{% block content %}

    <h1> {{ __("ccb.title") }} </h1>
    <div>
        {% call form() %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ radioButtons(
                'ccb',
                [
                    { value: 'yes', text:__('ccb.1')},
                    { value: 'no', text:__('ccb.2')},
                    { value: 'unsure', text:__('ccb.3')}
                ],
                data.ccb,
                __('form.ccb'),
                errors,
                {
                    required: true,
                    hint: __('ccb.hint'),
                    safeHint: true
                }
            )}}
            {{ formButtons() }}
        {% endcall %}
    </div>

{% endblock %}
