version: '3'

services:
  db:
    image: postgres:11.2@sha256:85d0c745dc4f4627184da8945a36ac773762ec5d2ba1c1821cc7334b736e6e00
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    expose:
      - "5432"
    command:
      - "postgres"
      - "-c"
      - "listen_addresses=*"
    restart: always
  redis:
    restart: always
    image: redis:latest@sha256:1e3207c292225b6dd21cb74d59255748a50e8f739dd983040df38fa913927cf1
    ports:
      - "6379:6379"
    expose:
      - "6379"


