{% extends "base.njk" %}

{% block content %}

    <h1>{{__('lost_job.title')}}</h1>
    <div>
        {% call form() %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ radioButtons('lost_job',
                [
                    { value: 'lost-all-income', text:__('lost_job.1')},
                    { value: 'lost-some-income', text:__('lost_job.2')},
                    { value: 'lost-no-income', text:__('lost_job.3')}
                ],
                data.lost_job,
                __('form.lost_job'),
                errors,
                { required: true })
            }}
            {{ formButtons() }}
        {% endcall %}
    </div>

{% endblock %}
