{% extends "base.njk" %}

{% block content %}

  <div class="md:flex w-full" data-gc-analytics-error="404">
    <h1 class="sr-only">{{ __({ phrase: '404.title', locale: 'en'}) }} - {{ __({ phrase: '404.title', locale: 'fr'}) }}</h1>
  </div>

  {% if message and NODE_ENV !== 'production' %}
    <pre class="error">{{ message }}</pre>
  {% endif %}

{% endblock %}