{% extends "base.njk" %}

{% block content %}

  <div class="md:flex w-full">
    <h1 class="sr-only">{{ __({ phrase: '500.title', locale: 'en'}) }} - {{ __({ phrase: '500.title', locale: 'fr'}) }}</h1>
    
  </div>

  {% if message and NODE_ENV !== 'production' %}
    <pre class="error">{{ message }}</pre>
  {% endif %}

{% endblock %}