{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('reduced_income.title') }}</h1>
    <div>
        {% call form() %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ radioButtons(
                'reduced_income',
                [
                    { value: '1000_or_less', text:__('reduced_income.1')},
                    { value: '1001_or_more', text:__('reduced_income.2')}
                ],
                data.reduced_income,
                __('form.reduced_income'),
                errors,
                {
                    required: true,
                    safeQuestion: true
                }
            )}}
            {{ formButtons() }}
        {% endcall %}
    </div>

{% endblock %}
