{% extends "base.njk" %}

{% block content %}

    <h1> {{ __('province.title') }} </h1>
    <div>
        {% call form() %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ dropdown('province',
                [
                    { value: 'ab', text:__('province.ab')},
                    { value: 'bc', text:__('province.bc')},
                    { value: 'mb', text:__('province.mb')},
                    { value: 'nb', text:__('province.nb')},
                    { value: 'nl', text:__('province.nl')},
                    { value: 'ns', text:__('province.ns')},
                    { value: 'nt', text:__('province.nt')},
                    { value: 'nu', text:__('province.nu')},
                    { value: 'on', text:__('province.on')},
                    { value: 'pe', text:__('province.pe')},
                    { value: 'qc', text:__('province.qc')},
                    { value: 'sk', text:__('province.sk')},
                    { value: 'yt', text:__('province.yt')}
                ],
                data.province,
                __('form.province'),
                errors,
                { required: true })
            }}
            {{ formButtons() }}
        {% endcall %}
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ asset('/dist/js/province.js') }}"></script>
{% endblock %}