.banner {
    width: 100%;
    position: relative;
    padding: $space-md;
    padding-top: $space-sm;
    padding-left: calc(#{$space-xl} + #{$space-xs});

    @include md {
        padding-left: $space-xxl;
    }

    p {
        &:nth-child(2) {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
        width: 25px;
        height: 25px;
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        font-family: monospace;
        color: $color-white;
        line-height: 1;
        padding-top: 4px;
        position: absolute;
        top: 20px;
        left: 13px;

        @include md {
            left: 20px;
        }
    }

    &--blue, &--check {
        background: $color-banner-blue-light;
        border-left: 5px solid $color-banner-blue;

        &__icon {
            background: $color-banner-blue;
        }
    }

    &--check {
        &__icon {
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg width='13px' height='11px' viewBox='0 0 13 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3Echeckmark%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='1.3-Enter-SIN' transform='translate(-79.000000, -232.000000)' stroke='%23FFFFFF' stroke-width='2'%3E%3Cg id='Group-3' transform='translate(81.000000, 232.000000)'%3E%3Cpath d='M0,6.44810072 L3.16500985,8.84667626' id='Line-5'%3E%3C/path%3E%3Cpath d='M3.03186405,1.92361281 L9.77998686,8.5' id='Line-5' transform='translate(6.279987, 5.000000) rotate(84.000000) translate(-6.279987, -5.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &--red {
        background: $color-red-light;
        border-left: 5px solid $color-red;

        padding-left: $space-md;

        @include md {
            padding-left: $space-lg;
        }
    }
}
