{% extends "base.njk" %}

{% block content %}

    <h1> {{ __('mortgage_payments.title') }} </h1>
    <div>
        {% call form() %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ radioButtons('mortgage_payments',
                [
                    { value: 'yes-mortgage', text:__('mortgage_payments.1')},
                    { value: 'yes-rent', text:__('mortgage_payments.2')},
                    { value: 'no', text:__('mortgage_payments.3')}
                ],
                data.mortgage_payments,
                __('form.mortgage_payments'),
                errors,
                { required: true })
            }}
            {{ formButtons() }}
        {% endcall %}
    </div>

{% endblock %}
