/* MenuDropdown.css
   Use CSS Anchor Positioning when supported to position the popover.
*/

[popover] {
  /* preferred placement: above the trigger, aligned to span-right */
  position-area: top span-right;
  /* flip strategies per Frontend Masters: https://frontendmasters.com/blog/popover-context-menus-with-anchor-positioning/ */
  position-try:
    flip-block,
    flip-inline,
    flip-block flip-inline;

  /* animate and hide by default */
  translate: 0 0;
  opacity: 0;
  display: none;
  transition-property: translate, opacity, display;
  transition-duration: 250ms;
  transition-behavior: allow-discrete;

  left: auto !important;
  right: auto !important;
}

[popover]:popover-open {
  opacity: 1;
  display: block;
  translate: 0 0;
}
