{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('oas.title') }}</h1>
    <div>
        {% call form() %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ radioButtons('oas',
                [
                    { value: 'oas', text:__('oas.1') },
                    { value: 'allowance', text:__('oas.2') },
                    { value: 'survivor', text:__('oas.3') },
                    { value: 'no', text:__('oas.4') }
                ],
                data.oas,
                __('form.oas'),
                errors,
                {
                    required: true,
                    hint: __('oas.hint'),
                    safeHint: true
                }
            )}}
            {{ formButtons() }}
        {% endcall %}
    </div>

{% endblock %}
