version: '3'

services:
  dev:
    build: 
      context: ..
      dockerfile: .devcontainer/Dockerfile
    command: sleep infinity
    volumes: 
      - ..:/src:cached
    ports: 
      - 3000:3000
    expose: 
      - 3000

  db:
    image: postgres:11.16@sha256:5d2aa4a7b5f9bdadeddcf87cf7f90a176737a02a30d917de4ab2e6a329bd2d45
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: chummy
    ports:
      - "5432:5432"
    expose:
      - 5432
    command:
      - "postgres"
      - "-c"
      - "listen_addresses=*"
    restart: unless-stopped

  redis:
    restart: unless-stopped
    image: redis:latest@sha256:f9724694a0b97288d2255ff2b69642dfba7f34c8e41aaf0a59d33d10d8a42687
    ports:
      - "6379:6379"
    expose:
      - 6379
