version: '3'

services:
  dev:
    build: 
      context: ..
      dockerfile: .devcontainer/Dockerfile
    command: sleep infinity
    volumes: 
      - ..:/src:cached
    ports: 
      - 3000:3000
    expose: 
      - 3000

  db:
    image: postgres:11.2
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    expose:
      - 5432
    command:
      - "postgres"
      - "-c"
      - "listen_addresses=*"
    restart: unless-stopped

  redis:
    restart: unless-stopped
    image: redis:latest
    ports:
      - "6379:6379"
    expose:
      - 6379
