{% extends "base.njk" %}

{% block content %}

    {{ formSteps(2, 5) }}
    <h1>{{ __('ssc-tech-2.title') }}</h1>

    <div>

        <form novalidate method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            {{ textArea('step2_department', __('ssc-tech-2.questions.1'), { class: 'w-3/4' }) }}
            {{ textInput('step2_branch', __('ssc-tech-2.questions.2')) }}
            {{ textInput('step2_subcontract', __('ssc-tech-2.questions.3')) }}            
            {{ textInput('step2_name_sub', __('ssc-tech-2.questions.4')) }}                        
            {{ textArea('step2_description', __('ssc-tech-2.questions.5'), { class: 'w-3/4' }) }}   
           
            {{ radioButtons('step2_radio1_key',
                [
                    { value: 'step2_radio1_yes', text:__('form.radio.yes')},
                    { value: 'step2_radio1_no', text:__('form.radio.no')}
                ],
                data.step2_radio1_key,
                __('ssc-tech-2.radio-1'),
                errors)
            }}

            {{ radioButtons('step2_radio2_key',
                [
                    { value: 'step2_radio2_yes', text:__('form.radio.yes')},
                    { value: 'step2_radio2_no', text:__('form.radio.no')}
                ],
                data.step2_radio2_key,
                __('ssc-tech-2.radio-2'),
                errors)
            }}

            <h2 class="text-3xl my-5">{{ __('ssc-tech-2.subtitle-1') }}</h2>

            {{ radioButtons('step2_radio3_key',
                [
                    { value: 'step2_radio3_yes', text:__('form.radio.yes')},
                    { value: 'step2_radio3_no', text:__('form.radio.no')}
                ],
                data.step2_radio3_key,
                __('ssc-tech-2.radio-3'),
                errors)
            }}

            {{ radioButtons('step2_radio4_key',
                [
                    { value: 'step2_radio4_yes', text:__('form.radio.yes')},
                    { value: 'step2_radio4_no', text:__('form.radio.no')}
                ],
                data.step2_radio4_key,
                __('ssc-tech-2.radio-4'),
                errors)
            }}

            {{ radioButtons('step2_radio5_key',
                [
                    { value: 'step2_radio5_yes', text:__('form.radio.yes')},
                    { value: 'step2_radio5_no', text:__('form.radio.no')}
                ],
                data.step2_radio5_key,
                __('ssc-tech-2.radio-5'),
                errors)
            }}                                                
            
            <h2 class="text-3xl my-5">{{ __('ssc-tech-2.subtitle-2') }}</h2>

            {{ checkBoxes('step2_checkbox_access',
                [
                    { value: 'step2_checkbox_access_1', text: 'Canada'},
                    { value: 'step2_checkbox_access_2', text: 'NATO'},
                    { value: 'step2_checkbox_access_3', text: 'Foreign'}
                ],
                [],
                'Select type',
                errors)
            }}                       

            <h2 class="text-3xl my-5">{{ __('ssc-tech-2.subtitle-3') }}</h2>

            {{ checkBoxes('step2_checkbox_restrictions_canada',
                [
                    { value: 'step2_checkbox_restrictions_canada_1', text: 'No release restrictions'},
                    { value: 'step2_checkbox_restrictions_canada_2', text: 'Not releasable'},
                    { value: 'step2_checkbox_restrictions_canada_3', text: 'Restricted to:'}
                ],
                [],
                'Canada',
                errors)
            }}    
            {{ textInput('step2_country1', __('ssc-tech-2.questions.country')) }}

            {{ checkBoxes('step2_checkbox_restrictions_ nato',
                [
                    { value: 'step2_checkbox_restrictions_ nato_1', text: 'All NATO countries'},
                    { value: 'step2_checkbox_restrictions_ nato_2', text: 'Restricted to:'}
                ],
                [],
                'NATO',
                errors)
            }}   
            {{ textInput('step2_country2', __('ssc-tech-2.questions.country')) }}

            {{ checkBoxes('step2_checkbox_restrictions_foreign',
                [
                    { value: 'step2_checkbox_restrictions_foreign_1', text: 'No release restrictions'},
                    { value: 'step2_checkbox_restrictions_foreign_2', text: 'Restricted to:'}
                ],
                [],
                'Foreign',
                errors)
            }}                   
            {{ textInput('step2_country3', __('ssc-tech-2.questions.country')) }}      



            <h2 class="text-3xl my-5">{{ __('ssc-tech-2.subtitle-4') }}</h2>

            {{ protectedCheck("levelOfInfo") }}


            {{ radioButtons('step2_radio_comsec_key',
                [
                    { value: 'step2_radio_comsec_key_yes', text:__('form.radio.yes')},
                    { value: 'step2_radio_comsec_key_no', text:__('form.radio.no')}
                ],
                data.step2_radio_comsec_key,
                __('ssc-tech-2.radio-5'),
                errors)
            }} 

            <label>If Yes, indicate the level of sensitivity</label>
           {{ checkBoxes('checkbox_comsec_sensitivity',
                [
                    { value: '1', text:__('ssc-tech.protected.1')},
                    { value: '2', text:__('ssc-tech.protected.2')},
                    { value: '3', text:__('ssc-tech.protected.3')},
                    { value: '4', text:__('ssc-tech.classified.1')},
                    { value: '5', text:__('ssc-tech.classified.2')},
                    { value: '5', text:__('ssc-tech.classified.3')},
                    { value: '6', text:__('ssc-tech.classified.4')}
                ],
                [],
                __('ssc-tech.comsec'),
                errors)
            }}    

            {{ radioButtons('step2_radio_infosec_key',
                [
                    { value: 'step2_radio_infosec_key_yes', text:__('form.radio.yes')},
                    { value: 'step2_radio_infosec_key_no', text:__('form.radio.no')}
                ],
                data.step2_radio_infosec_key,
                __('ssc-tech-2.radio-5'),
                errors)
            }} 

            {{ textInput('step2_material', __('ssc-tech-2.questions.2')) }}
            {{ textInput('step3_docnum', __('ssc-tech-2.questions.3')) }}    

            {{ formSubmitButton('Continue') }}
        </form>
    </div>

{% endblock %}
