<div class="page--container">
    <div class="fip-container">
        <div class="canada-flag">
            <a href="{{ __('header.fip-link') }}" aria-label="{{__('Government of Canada')}}">
                <img src="{{ asset('/img/sig-blk-' + getLocale() + '.svg') }}"
                     alt="{{__('Government of Canada')}}">
            </a>
        </div>
        {% include "_includes/languageLink.njk" %}
    </div>
</div>
