<footer class="border-0 bg-gray-100 mt-8">
    <div class="page--container flex flex-row justify-between md:items-baseline pt-4 md:pt-10 pb-6 md:pb-10">
        <div class="footer-links md:w-4/5">
            <ul class="p-0 text-base list-inside">
                <li class="md:inline-block pr-4">
                    <a href="{{ __('footer.contact') }}" class="no-underline hover:underline">{{ __('footer.contact.desc') }}</a>
                </li>
                <li class="md:inline-block pr-4">
                    <a href={{ __('footer.privacy') }} class="no-underline hover:underline">{{ __('footer.privacy.desc') }}</a>
                </li>
                <li class="md:inline-block">
                    <a href={{ __('footer.terms') }} class="no-underline hover:underline">{{ __('footer.terms.desc') }}</a>
                </li>
            </ul>
        </div>
        <div class="md:w-1/5 md:relative">
            <img src="{{ asset('/img/wmms-blk.svg') }}" alt="{{ __('wordmark.alt') }}" class="h-12 pt-2 md:absolute md:bottom-0 md:right-0">
        </div>
    </div>
</footer>