{% if route %}
    <h2 class="sr-only">{{ __("Language Selection") }}</h2>
    <div class="language-link">
        {% if locale != 'fr' %}
            <a href="{{ getTranslatedRoute(route, 'fr') }}" lang="fr">Français</a>
        {% endif %}
        {% if locale != 'en' %}
            <a href="{{ getTranslatedRoute(route, 'en') }}" lang="en">English</a>
        {% endif %}
    </div>
{% endif %}
