<div class="phase-banner">
    <div>
        <span><strong class="font-normal">ALPHA</strong><span class="visually-hidden" >{{ ' ' if locale === 'fr'}}: </span></span><span>{{ __('phase.desc') }}</span>
    </div>
</div>