{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('plans_for_school.title') }}</h1>
    <div>
        {% call form() %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ radioButtons('plans_for_school',
                [
                    { value: 'yes', text:__('plans_for_school.1')},
                    { value: 'no', text:__('plans_for_school.2')}
                ],
                data.plans_for_school,
                __('form.plans_for_school'),
                errors,
                { required: true })
            }}
            {{ formButtons() }}
        {% endcall %}
    </div>

{% endblock %}
