{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('rrif.title') }}</h1>
    <div>
        {% call form() %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ radioButtons('rrif',
                [
                    { value: 'yes', text:__('rrif.1')},
                    { value: 'no', text:__('rrif.2')}
                ],
                data.rrif,
                __('form.rrif'),
                errors,
                {
                    required: true
                }
            )}}
            {{ formButtons() }}
        {% endcall %}
    </div>

{% endblock %}
