{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('gross_income.title') }}</h1>
    <div>
        {% call form() %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ radioButtons(
                'gross_income',
                [
                    { value: '4999_or_less', text:__('gross_income.1')},
                    { value: 'over_5k', text:__('gross_income.2')}
                ],
                data.gross_income,
                __('form.gross_income'),
                errors,
                {
                    required: true,
                    safeQuestion: true
                }
            )}}
            {{ formButtons() }}
        {% endcall %}
    </div>

{% endblock %}
