// Partial: Buttons

// Button variants
.gc-button {
  // Default dark blue variant
  background-color: var(--gcds-button-primary-default-background);
  color: var(--gcds-button-primary-default-text);
  @apply md:w-full md:text-small_base cursor-pointer p-3 mr-2 m-0 text-base no-underline outline-none rounded-md;

  &:hover {
    background-color: var(--gcds-button-primary-hover-background);
  }
}

.gc-button--icon {
  @apply md:text-base text-h3 md:w-10 md:h-10 w-12 h-12 p-0;
}

.gc-button--secondary {
  background-color: var(--gcds-button-secondary-default-background);
  color: var(--gcds-button-secondary-default-text);
  //Fix: text blue because the tokens is using shade 700.
  @apply border-current border-md;

  &:hover {
    background-color: var(--gcds-button-secondary-hover-background);
    @apply text-blue-800;
  }
}
.gc-button--destructive {
  background-color: var(--gcds-button-danger-default-background);
  color: var(--gcds-button-danger-default-text);

  &:hover {
    background-color: var(--gcds-button-danger-hover-background);
  }
}

// Common interactive styles
// Declare at the end to respect focus and active states accross vatiants.
.gc-button {
  &:active {
    background-color: var(--gcds-active-background);
    color: var(--gcds-active-text);
  }

  &:focus {
    color: var(--gcds-focus-text);
    @apply bg-blue-focus outline-blue-focus outline outline-offset-2 outline-[3px] border-blue-focus;
  }
}
