// Partial: Form / inputs

.gc-form {
  @apply max-w-prose;
}

.gc-form-group {
  @apply mb-0;

  // This receives focus. Need to create styles.

  .gc-input-radio:last-of-type,
  .gc-input-checkbox:last-of-type {
    @apply pb-0;
  }
}

.gc-form-group-context {
  @include visuallyHidden();
}

// .gc-legend {
//   @apply md:text-small_h2 text-h2 mb-14 font-bold;
// }

.gc-label {
  @apply md:text-small_base block mb-2 text-base w-3/4 xl:w-full;
  // &.required > span {
  //   @apply text-red-700;
  //   // content: " *";
  // }
}

// What is the purpose? Is this just a p tag?
// .gc-plain-text {
//   @apply w-full my-5;
// }

.focus-group {
  @apply mb-14;
}

.focus-group:focus-within {
  .gc-label,
  .gc-description {
    @apply text-blue-focus;
  }
}

// common text box styles
.gc-textarea,
.gc-input-text,
.gc-dropdown {
  border-radius: var(--gcds-input-border-radius);
  @apply py-3 px-2 mt-2 md:text-small_base text-base border-solid border-2 border-black-form;

  &:focus {
    @apply outline-blue-focus outline outline-offset-2 outline-[3px] border-blue-focus;
  }
}

.gc-textarea {
  @apply w-full md:w-3/4 max-w-prose h-40;
  &.full-height {
    @apply h-auto;
  }
}

.gc-input-text {
  @apply w-full max-w-[40ch];
}

.gc-dropdown {
  background-image: url("../../public/img/arrow-down.svg");
  @apply w-full max-w-[40ch] pr-10 appearance-none bg-white bg-no-repeat bg-center-right-15px;
}

// common fieldset options styles
.gc-input-radio,
.gc-input-checkbox {
  @apply flex pt-3 pb-1 px-0 items-center;
}

.gc-radio-label,
.gc-checkbox-label {
  @apply md:text-small_base font-normal text-base flex items-center;
}

.gc-input-checkbox {
  @apply block;

  .gc-input-checkbox__input {
    background-repeat: round;
    @apply md:mr-4 mr-6 absolute w-10 h-10 bg-white-default border-2 border-transparent;
    & + .gc-checkbox-label {
      @apply relative cursor-pointer p-0;
    }

    &:focus {
      @apply outline-none;
    }

    &:focus + .gc-checkbox-label {
      span {
        @apply text-blue-focus;
      }
    }

    &:focus + .gc-checkbox-label:before {
      @apply outline-blue-focus outline outline-offset-2 outline-[3px] border-blue-focus;
    }

    // Box.
    & + .gc-checkbox-label:before {
      content: "";
      border-radius: var(--gcds-input-border-radius);
      @apply md:mr-3 mr-3 inline-block w-10 h-10 bg-white-default border-2 border-black-form;
    }

    // Checkmark. Could be replaced with an image
    &:checked + .gc-checkbox-label:after {
      background-repeat: no-repeat;
      content: "";
      background-image: url("../../public/img/checkmark.svg");
      @apply absolute w-6 h-6 left-2;
    }

    &:focus + .gc-checkbox-label:after {
      background-image: url("../../public/img/blue-checkmark.svg");
    }
  }
}

.gc-input-radio {
  .gc-radio__input {
    @apply md:mr-4 mr-6 absolute w-10 h-10 bg-white-default border-transparent;
    & + .gc-radio-label {
      @apply relative cursor-pointer p-0;
    }

    &:focus {
      @apply outline-none;
    }

    &:focus + .gc-radio-label {
      span {
        @apply text-blue-focus;
      }
    }

    &:focus + .gc-radio-label:before {
      @apply outline-blue-focus outline outline-offset-2 outline-[3px] border-blue-focus;
    }

    // Circle.
    & + .gc-radio-label:before {
      content: "";
      @apply md:mr-2 mr-2 inline-block w-10 h-10 bg-white-default border-2 border-black-form rounded-full;
    }

    // Radio. Could be replaced with an image
    &:checked + .gc-radio-label:after {
      content: "";
      background-image: url("../../public/img/black-circle.svg");
      @apply absolute w-5 h-5 left-10px;
    }

    &:focus + .gc-radio-label:after {
      background-image: url("../../public/img/blue-circle.svg");
    }
  }
}

.gc-file-input {
  @apply w-full md:text-small_base text-base py-3 pr-2 mt-2 mb-14;

  &:focus {
    @apply outline-none border-blue-focus shadow-input;
  }

  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .gc-file-input-upload-button {
    @apply text-center inline-block mb-0;
  }

  .gc-file-input-file-selected {
    @apply inline-block;
  }

  [type="file"] {
    display: none;
  }
}
