[data-theme="gcds"] {
  --theme-gcds-color-danger: var(--gcds-danger-text);
  --theme-gcds-color-red-100: var(--gcds-color-red-100);
  --theme-gcds-color-red-700: var(--gcds-color-red-700);
  --theme-gcds-color-red-900: var(--gcds-color-red-900);
  --theme-gcds-color-link-hover: var(--gcds-link-hover);
  --theme-gcds-color-blue-focus: var(--gcds-blue-focus);
  --theme-gcds-color-blue-100: var(--gcds-color-blue-100);
  --theme-gcds-color-blue-500: var(--gcds-color-blue-500);
  --theme-gcds-color-blue-700: var(--gcds-color-blue-700);
  --theme-gcds-color-blue-800: var(--gcds-color-blue-800);
  --theme-gcds-color-blue-900: var(--gcds-color-blue-900);
  --theme-gcds-color-grayscale-50: var(--gcds-color-grayscale-50);
  --theme-gcds-color-grayscale-100: var(--gcds-color-grayscale-100);
  --theme-gcds-color-grayscale-300: var(--gcds-color-grayscale-300);
  --theme-gcds-color-grayscale-500: var(--gcds-color-grayscale-500);
  --theme-gcds-color-grayscale-700: var(--gcds-color-grayscale-700);
  --theme-gcds-color-grayscale-900: var(--gcds-color-grayscale-900);
  --theme-gcds-color-yellow-100: var(--gcds-color-yellow-100);
  --theme-gcds-color-yellow-500: var(--gcds-color-yellow-500);
  --theme-gcds-color-green-100: var(--gcds-color-green-100);
  --theme-gcds-color-green-500: var(--gcds-color-green-500);
  --theme-gcds-color-green-700: var(--gcds-color-green-700);
  --theme-gcds-font-sizes-caption: var(--gcds-font-sizes-caption);
  --theme-gcds-line-heights-caption: var(--gcds-line-heights-caption);
  --theme-gcds-font-sizes-text: var(--gcds-font-sizes-text);
  --theme-gcds-line-heights-text: var(--gcds-line-heights-text);
  --theme-gcds-line-heights-p: 150%;
  --theme-gcds-font-sizes-h5: var(--gcds-font-sizes-h5);
  --theme-gcds-line-heights-h5: var(--gcds-line-heights-h5);
  --theme-gcds-font-sizes-h3: var(--gcds-font-sizes-h3);
  --theme-gcds-line-heights-h3: var(--gcds-line-heights-h3);
  --theme-gcds-font-sizes-h2: var(--gcds-font-sizes-h2);
  --theme-gcds-line-heights-h2: var(--gcds-line-heights-h2);
  --theme-gcds-font-sizes-h1: var(--gcds-font-sizes-h1);
  --theme-gcds-line-heights-h1: var(--gcds-line-heights-h1);
  --theme-gcds-border-radius-sm: var(--gcds-border-radius-sm);
  --theme-gcds-border-radius-md: var(--gcds-border-radius-md);
}
