{% extends "benefit-template.njk" %}

{% set sectionId = 'ccb_payment' %}

{% block header %}
  {{__("ccb_payment.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Automatic payment in May</strong>") }}
  {{ benefitLi("<strong>$300 per child</strong>") }}
{% endblock %}

{% block body %}
  <strong>The benefit can help if you:</strong>
  <ul>
    <li>Care for a child under 18 years old.</li>
  </ul>

  <strong>Good to know:</strong>
  <ul>
    <li>Check your bank account to find out if you’ve been receiving the Canada Child Benefit. </li>
    <li>
      <a href='https://www.canada.ca/en/revenue-agency/services/child-family-benefits/benefit-payment-dates.html'
        target='_blank'>Dates of payments are available</a> online.
    </li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
      "ccb_payment",
      "https://www.canada.ca/en/revenue-agency/services/child-family-benefits/canada-child-benefit-overview.html",
      "Learn more about the Canada Child Benefit"
  )}}
{% endblock %}
