{% extends "benefit-template.njk" %}

{% set sectionId = 'ccb_payment' %}

{% block header %}
  {{__("ccb_payment.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Versement automatique au mois de mai</strong>") }}
  {{ benefitLi("<strong>300 $ par enfant</strong>") }}
{% endblock %}

{% block body %}
  <strong>Cette prestation peut vous aider si :</strong>
  <ul>
    <li>vous avez la charge d’un enfant de moins de 18 ans. </li>
  </ul>

  <strong>Bon à savoir :</strong>
  <ul>
    <li>Consultez vos relevés bancaires afin de déterminer si vous recevez déjà l’Allocation canadienne pour enfant.</li>
    <li>
      <a href='https://www.canada.ca/fr/agence-revenu/services/prestations-enfants-familles/dates-versement-prestations.html' target='_blank'>Consultez les dates de versement des prestations</a>.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
      "ccb_payment",
      "https://www.canada.ca/fr/agence-revenu/services/prestations-enfants-familles/allocation-canadienne-enfants-apercu.html",
      "En savoir plus à propos de l’Allocation canadienne pour enfant"
  )}}
{% endblock %}
