
{% extends "benefit-template.njk" %}

{% set sectionId = 'dtc' %}

{% block header %}
  {{__("dtc.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Paiement unique de 600 $, non imposable.</strong>") }}
  {{ benefitLi("<strong>Les paiements automatiques débutent le 10 août 2020.</strong>") }}
{% endblock %}

{% block body %}
  <strong>Bon à savoir :</strong>
  <ul>
    <li>Ce paiement peut aider si vous détenez un certificat valide pour le crédit d'impôt pour personnes handicapées.</li>
    <li>Les paiements seront déposés automatiquement dès que possible. Vous n’avez pas à faire quoi que ce soit pour le recevoir. </li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "dtc",
    "https://www.canada.ca/fr/agence-revenu/services/impot/particuliers/segments/deductions-credits-impot-personnes-handicapees/credit-impot-personnes-handicapees.html",
    "En savoir plus à propos du crédit d'impôt pour personnes handicapées"
  )}}
{% endblock %}
