

{% extends "benefit-template.njk" %}

{% set sectionId = 'dtc_oas' %}

{% block header %}
  {{__("dtc_oas.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<ul>
    <li class='mb-2'><strong>$300 one-time, tax-free payment</strong> if you receive <strong>Old Age Security.</strong></li>
    <li><strong>OR $100 one-time, tax-free payment</strong> if you receive the <strong>Guaranteed Income Supplement.</strong></li>
  </ul>") }}
  {{ benefitLi("Automatic payment starting August 10, 2020.") }}
{% endblock %}

{% block body %}
  <strong>Good to know:</strong>
  <ul>
    <li>This payment can help if you hold a valid certificate for the Disability Tax Credit.</li>
    <li>Payments will be sent automatically, as soon as possible. You don’t need to do anything to receive it.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "dtc_oas",
    "https://www.canada.ca/en/revenue-agency/services/tax/individuals/segments/tax-credits-deductions-persons-disabilities/disability-tax-credit.html",
    "Learn more about the Disability Tax Credit"
  )}}
{% endblock %}