

{% extends "benefit-template.njk" %}

{% set sectionId = 'dtc_child' %}

{% block header %}
  {{__("dtc_child.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>$600 one-time, tax-free payment.</strong>") }}
  {{ benefitLi("<strong>Automatic payment starting August 10, 2020.</strong>") }}
{% endblock %}

{% block body %}
  <strong>Good to know:</strong>
  <ul>
    <li>This payment can help if your child holds a valid certificate for the Disability Tax Credit.</li>
    <li>Payments will be sent automatically, as soon as possible. You don’t need to do anything to receive it.</li>
    <li>If you share custody for your child, this payment will be split $300 to each parent.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "dtc_child",
    "https://www.canada.ca/en/revenue-agency/services/tax/individuals/segments/tax-credits-deductions-persons-disabilities/disability-tax-credit.html",
    "Learn more about the Disability Tax Credit"
  )}}
{% endblock %}