{% extends "benefit-template.njk" %}

{% set sectionId = 'dtc_allowance' %}

{% block header %}
  {{__("dtc_allowance.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>$100 one-time, tax-free payment</strong> if you receive <strong>The Allowance or the Allowance for the Survivor.</strong>") }}
  {{ benefitLi("<strong>Automatic payment starting August 10, 2020.</strong>") }}
{% endblock %}

{% block body %}
  <strong>Good to know:</strong>
  <ul>
    <li>This payment can help if you hold a valid certificate for the Disability Tax Credit.</li>
    <li>Payments will be sent automatically, as soon as possible. You don’t need to do anything to receive it.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "dtc_allowance",
    "https://www.canada.ca/en/revenue-agency/services/tax/individuals/segments/tax-credits-deductions-persons-disabilities/disability-tax-credit.html",
    "Learn more about the Disability Tax Credit"
  )}}
{% endblock %}