{% extends "benefit-template.njk" %}

{% set sectionId = 'ei_workshare' %}

{% block header %}
  {{__("ei_workshare.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Recevoir des prestations d’assurance-emploi</strong>") }}
  {{ benefitLi("<strong>Pendant 76 semaines maximum</strong>") }}
{% endblock %}

{% block body %}
  <strong>Cette prestation peut vous aider si :</strong>
  <ul>
    <li>vos heures de travail ont été réduites de 10 à 60 % en raison de la COVID-19.</li>
  </ul>

  <strong>Pour ce faire :</strong>
  <ul>
    <li>Vous devrez conclure une entente avec votre employeur et les autres employés effectuant les mêmes tâches que vous.</li>
    <li>Tous les employés qui effectuent les mêmes tâches que vous doivent accepter de partager la charge de travail équitablement, et votre employeur doit aussi accepter.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "ei_workshare",
    "https://www.canada.ca/fr/emploi-developpement-social/ministere/avis/coronavirus.html#h4.02",
    "En savoir plus à propos du programme Travail partagé de l’assurance-emploi"
  )}}
{% endblock %}
