{% extends "benefit-template.njk" %}

{% set sectionId = 'ei_workshare' %}

{% block header %}
  {{__("ei_workshare.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Receive EI benefits</strong>") }}
  {{ benefitLi("<strong>Up to 76 weeks</strong>") }}
{% endblock %}

{% block body %}
  <strong>The benefit can help if:</strong>
  <ul>
    <li>Your hours have been reduced by 10 to 60% because of COVID-19.</li>
  </ul>

  <strong>To do this:</strong>
  <ul>
    <li>You would enter into an agreement with your employer and other coworkers who do the exact same work as you.</li>
    <li>All employees who do the same work need to agree to share the work equally, and your employer has to agree as well. </li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "ei_workshare",
    "https://www.canada.ca/en/employment-social-development/corporate/notices/coronavirus.html#h4.02",
    "Learn more about EI Work-Sharing"
  )}}
{% endblock %}
