{% extends "benefit-template.njk" %}

{% set sectionId = 'gst_credit' %}

{% block header %}
  {{ __("gst_credit.header") }}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Automatic payment in April if you already receive the GST credit</strong>") }}
  {{ benefitLi("<strong>On average:</strong>
                <ul>
                  <li><strong>$400 for single people</strong></li>
                  <li><strong>$600 for couples</strong></li>
                </ul>") }}
  {{ benefitLi("<strong>Amount depends on your 2018 income taxes</strong>") }}
{% endblock %}

{% block body %}
  <strong>Good to know:</strong>
  <ul>
    <li>You don’t need to do anything to receive this payment. It was sent automatically if you already receive the GST credit, starting April 9.</li>
    <li>Check your bank account or mailbox to see if you’ve received it.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink("gst_credit",
    "https://www.canada.ca/en/revenue-agency/services/child-family-benefits/covid-19-gsthstc-increase.html",
    "Learn more about the GST credit"
  )}}
{% endblock %}
