{% extends "benefit-template.njk" %}

{% set sectionId = 'gst_credit' %}

{% block header %}
  {{ __("gst_credit.header") }}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Versement automatique au mois d’avril si vous recevez déjà le crédit pour la TPS</strong>") }}
  {{ benefitLi("<strong>En moyenne :<br> 400 $ pour les célibataires<br>600 $ pour les couples</strong>") }}
  {{ benefitLi("<strong>Le montant du crédit dépend de votre revenu pour l’année imposable 2018</strong>") }}
{% endblock %}

{% block body %}
  <strong>Bon à savoir :</strong>
  <ul>
    <li>Vous n’avez pas à faire la demande pour recevoir ce montant. À compter du 9 avril, il sera envoyé automatiquement si vous recevez déjà le crédit pour la TPS.</li>
    <li>Vérifiez votre compte bancaire ou votre courrier pour voir si vous avez  recu le crédit pour la TPS.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink("gst_credit",
    "https://www.canada.ca/fr/agence-revenu/services/prestations-enfants-familles/ctpstvh-augmentation-covid-19.html",
    "En savoir plus à propos du crédit pour la TPS"
  )}}
{% endblock %}
