{% extends "benefit-template.njk" %}

{% set sectionId = 'mortgage_deferral' %}

{% block header %}
  {{__("mortgage_deferral.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Interrompez vos paiements hypothécaires jusqu’à ce que vous puissiez les payer à nouveau</strong>") }}
{% endblock %}

{% block body %}
  <strong>Bon à savoir :</strong>
  <ul>
    <li>La banque chargera quand même de l’intérêt.</li>
    <li> Lorsque vous pourrez effectuer vos paiements à nouveau, vous devrez payer l’intérêt encouru depuis le sursis en plus de vos paiements réguliers.</li>
    <li> Vous pouvez aussi parler à votre banque à propos de plans de paiements spéciaux afin de ré-amortir votre hypothèque.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "mortgage_deferral",
    "https://cba.ca/mortgage-deferral-to-help-canadians-experiencing-financial-hardship-due-to-covid-19?l=fr",
    "En savoir plus à propos du soutien hypothécaire"
  )}}
{% endblock %}
