{% extends "benefit-template.njk" %}

{% set sectionId = 'mortgage_deferral' %}

{% block header %}
  {{__("mortgage_deferral.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Skip mortgage payments until you’re able to pay again</strong>") }}
{% endblock %}

{% block body %}
  <strong>Good to know:</strong>
  <ul>
    <li>The bank will still charge interest.</li>
    <li> When you’re able to pay again, you’ll have to pay the interest that was collected during the deferral, as well as your regular payments.</li>
    <li> You can also talk to your bank about special payment arrangements or re-amortizing your mortgage.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "mortgage_deferral",
    "https://cba.ca/mortgage-deferral-to-help-canadians-experiencing-financial-hardship-due-to-covid-19",
    "Learn more about help with your mortgage"
  )}}
{% endblock %}
