{% extends "benefit-template.njk" %}

{% set sectionId = 'oas' %}

{% block header %}
  {{__("oas.header") }}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<ul>
      <li class='mb-4'><strong>Paiement unique de 300 $, non imposable, si vous êtes admissible à la pension de la Sécurité de vieillesse (SV)</strong></li>
      <li class='mb-4'><strong>OU paiement unique de 500 $, non imposable, si vous recevez le supplément de revenu garanti (SRG)</strong></li>
      <li><strong>OU paiement unique de 500 $, non imposable, si vous recevez L’Allocation ou l’Allocation au survivant</strong></li>
    </ul>") }}
  {{ benefitLi("<strong>Dès le 6 juillet 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>Bon à savoir :</strong>
  <ul>
    <li>Vous recevrez ce paiement si vous êtes admissible à la pension ou aux programmes connexes de la SV en juin 2020.</li>
    <li>Vous devenez admissibles à la pension de la SV le mois suivant votre 65ème anniversaire. Si votre 65ème anniversaire est en juin 2020, vous ne recevrez pas ce paiement.</li>
    <li>Les paiements seront déposés automatiquement dès le 6 juillet. Vous n’avez pas à faire quoi que ce soit pour le recevoir.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "oas",
    "https://www.canada.ca/fr/services/prestations/pensionspubliques/avis-covid-19/paiement-unique.html",
    "En savoir plus à propos de l’aide pour les aînés"
  )}}
{% endblock %}
