{% extends "benefit-template.njk" %}

{% set sectionId = 'oas' %}

{% block header %}
  {{__("oas.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<uL>
      <li class='mb-4'><strong>$300 one-time, tax-free payment if you are eligible for the Old Age Security (OAS) pension</strong></li>
      <li class='mb-4'><strong>OR $500 one-time, tax-free payment if you receive the Guaranteed Income Supplement (GIS)</strong></li>
      <li class='mb-4'><strong>OR $500 one-time, tax-free payment if you receive the Allowance or the Allowance for the Survivor</strong><li>
    </ul>") }}
  {{ benefitLi("<strong>Starting July 6, 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>Good to know:</strong>
  <ul>
    <li>You’ll receive this payment if you are eligible to receive OAS or its related benefits in June 2020.</li>
    <li>You become eligible for OAS the month after you turn 65. So if you turn 65 in June, you will not receive this one-time payment.</li>
    <li>Payments will be sent automatically, starting July 6, 2020. You don’t need to do anything to receive it.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "oas",
    "https://www.canada.ca/en/services/benefits/publicpensions/notice-covid-19/one-time-payment.html",
    "Learn more about help for seniors"
  )}}
{% endblock %}
