{% extends "benefit-template.njk" %}

{% set sectionId = 'province-ns' %}

{% block header %}
  {{__("province-ns.header")}}
{% endblock %}

{% block body %}
  <p>Some provincial governments are offering additional support for people during COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-ns",
    "https://novascotia.ca/coronavirus/support/",
    "Learn more about Nova Scotia benefits"
  )}}
{% endblock %}
