{% extends "benefit-template.njk" %}

{% set sectionId = 'province-yt' %}

{% block header %}
  {{__("province-yt.header")}}
{% endblock %}

{% block body %}
  <p>Certains gouvernements provinciaux et territoriaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-yt",
    "https://yukon.ca/fr/covid-19-support-yukoners",
    "En savoir plus à propos du plan du Yukon"
  )}}
{% endblock %}
