{% extends "benefit-template.njk" %}

{% set sectionId = 'province-mb' %}

{% block header %}
  {{__("province-mb.header")}}
{% endblock %}

{% block body %}
  <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-mb",
    "https://www.gov.mb.ca/covid19/infomanitobans/index.fr.html#individuals",
    "En savoir plus à propos des prestations du Manitoba"
  )}}
{% endblock %}
