{% extends "benefit-template.njk" %}

{% set sectionId = 'province-mb' %}

{% block header %}
  {{__("province-mb.header")}}
{% endblock %}

{% block body %}
  <p>Some provincial governments are offering additional support for people during COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-mb",
    "https://www.gov.mb.ca/covid19/infomanitobans/index.html#individuals",
    "Learn more about Manitoba benefits"
  )}}
{% endblock %}
