{% extends "benefit-template.njk" %}

{% set sectionId = 'province-qc' %}

{% block header %}
  {{__("province-qc.header")}}
{% endblock %}

{% block body %}
  <p>Some provincial governments are offering additional support for people during COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-qc",
    "https://www.quebec.ca/en/health/health-issues/a-z/2019-coronavirus/financial-assistance-covid19/",
    "Learn more about Quebec benefits"
  )}}
{% endblock %}
