{% extends "benefit-template.njk" %}

{% set sectionId = 'province-pe' %}

{% block header %}
  {{__("province-pe.header")}}
{% endblock %}

{% block body %}
  <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-pe",
    "https://www.princeedwardisland.ca/fr/sujet/covid-19-soutien-et-services",
    "En savoir plus à propos des prestations de l’Î.-P.-É."
  )}}
{% endblock %}
