{% extends "benefit-template.njk" %}

{% set sectionId = 'province-nl' %}

{% block header %}
  {{__("province-nl.header")}}
{% endblock %}

{% block body %}
  <p>Some provincial governments are offering additional support for people during COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-nl",
    "https://www.gov.nl.ca/covid-19/resources/",
    "Learn more about Newfoundland and Labrador’s response"
  )}}
{% endblock %}
