{% extends "benefit-template.njk" %}

{% set sectionId = 'province-nb' %}

{% block header %}
  {{__("province-nb.header")}}
{% endblock %}

{% block body %}
  <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-nb",
    "https://www2.gnb.ca/content/gnb/fr/corporate/promo/covid-19.html",
    "En savoir plus à propos du plan du Nouveau-Brunswick"
  )}}
{% endblock %}
