{% extends "benefit-template.njk" %}

{% set sectionId = 'province-ab' %}

{% block header %}
  {{__("province-ab.header")}}
{% endblock %}

{% block body %}
  <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-ab",
    "https://www.alberta.ca/covid-19-supports-for-albertans.aspx",
    "En savoir plus à propos du plan de l’Alberta (anglais seulement)"
  )}}
{% endblock %}
