{% extends "benefit-template.njk" %}

{% set sectionId = 'province-ns' %}

{% block header %}
  {{__("province-ns.header")}}
{% endblock %}

{% block body %}
  <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-ns",
    "https://novascotia.ca/coronavirus/support/fr/",
    "En savoir plus à propos des prestations de la Nouvelle-Écosse"
  )}}
{% endblock %}
