{% extends "benefit-template.njk" %}

{% set sectionId = 'province-pe' %}

{% block header %}
  {{__("province-pe.header")}}
{% endblock %}

{% block body %}
  <p>Some provincial governments are offering additional support for people during COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-pe",
    "https://www.princeedwardisland.ca/en/topic/covid-19-supports-and-services",
    "Learn more about PEI benefits"
  )}}
{% endblock %}
