{% extends "benefit-template.njk" %}

{% set sectionId = 'province-qc' %}

{% block header %}
  {{__("province-qc.header")}}
{% endblock %}

{% block body %}
  <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-qc",
    "https://www.quebec.ca/sante/problemes-de-sante/a-z/coronavirus-2019/aide-financiere-covid19/",
    "En savoir plus à propos des prestations du Québec"
  )}}
{% endblock %}
