{% extends "benefit-template.njk" %}

{% set sectionId = 'province-bc' %}

{% block header %}
  {{__("province-bc.header")}}
{% endblock %}

{% block body %}
  <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-bc",
    "https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/covid-19-provincial-support/financial-benefits#individuals",
    "En savoir plus à propos des prestations de la C.-B. (anglais seulement)"
  )}}
{% endblock %}
