{% extends "benefit-template.njk" %}

{% set sectionId = 'province-nb' %}

{% block header %}
  {{__("province-nb.header")}}
{% endblock %}

{% block body %}
  <p>Some provincial governments are offering additional support for people during COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-nb",
    "https://www2.gnb.ca/content/gnb/en/corporate/promo/covid-19.html",
    "Learn more about New Brunswick’s response"
  )}}
{% endblock %}
