{% extends "benefit-template.njk" %}

{% set sectionId = 'province-on' %}

{% block header %}
  {{__("province-on.header")}}
{% endblock %}

{% block body %}
  <p>Some provincial and territorial governments are offering additional support for people during COVID-19.</p>

  <strong>Good to know:</strong>
  <ul>
    <li>Information for <a href="https://www.ontario.ca/page/covid-19-support-workers" target="_blank">health care workers and others who are working in Ontario</a>.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-on",
    "https://www.ontario.ca/page/covid-19-support-people",
    "Learn more about Ontario benefits"
  )}}
{% endblock %}
