{% extends "benefit-template.njk" %}

{% set sectionId = 'province-nu' %}

{% block header %}
  {{__("province-nu.header")}}
{% endblock %}

{% block body %}
  <p>Some provincial and territorial governments are offering additional support for people during COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-nu",
    "https://www.gov.nu.ca/health/information/covid-19-novel-coronavirus",
    "Learn more about Nunavut’s response"
  )}}
{% endblock %}
