{% extends "benefit-template.njk" %}

{% set sectionId = 'province-nl' %}

{% block header %}
  {{__("province-nl.header")}}
{% endblock %}

{% block body %}
  <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-nl",
    "https://www.gov.nl.ca/covid-19/fr/ressources/",
    "En savoir plus à propos du plan de Terre-Neuve-et-Labrador"
  )}}
{% endblock %}
