{% extends "benefit-template.njk" %}

{% set sectionId = 'province-nu' %}

{% block header %}
  {{__("province-nu.header")}}
{% endblock %}

{% block body %}
    <p>Certains gouvernements provinciaux et territoriaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-nu",
    "https://www.gov.nu.ca/fr/sante/information/covid-19-nouveau-coronavirus",
    "En savoir plus à propos du plan du Nunavut"
  )}}
{% endblock %}
