{% extends "benefit-template.njk" %}

{% set sectionId = 'province-bc' %}

{% block header %}
  {{__("province-bc.header")}}
{% endblock %}

{% block body %}
  <p>Some provincial governments are offering additional support for people during COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-bc",
    "https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/covid-19-provincial-support/financial-benefits#individuals",
    "Learn more about BC benefits"
  )}}
{% endblock %}
  
