{% extends "benefit-template.njk" %}

{% set sectionId = 'province-on' %}

{% block header %}
  {{__("province-on.header")}}
{% endblock %}

{% block body %}
  <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>

  <strong>Bon à savoir :</strong>
  <ul>
    <li>Information pour <a href="https://www.ontario.ca/fr/page/covid-19-soutien-aux-travailleurs" target="_blank">les travailleurs de la santé et les autres personnes en service en Ontario</a>.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-on",
    "https://www.ontario.ca/fr/page/covid-19-soutien-aux-personnes",
    "En savoir plus à propos des prestations de l’Ontario"
  )}}
{% endblock %}
