{% extends "benefit-template.njk" %}

{% set sectionId = 'province-sk' %}

{% block header %}
  {{__("province-sk.header")}}
{% endblock %}

{% block body %}
  <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "province-sk",
    "https://www.saskatchewan.ca/government/health-care-administration-and-provider-resources/treatment-procedures-and-guidelines/emerging-public-health-issues/2019-novel-coronavirus/covid-19-information-for-businesses-and-workers/support-for-workers#saskatchewan-support",
    "En savoir plus à propos des prestations de la Saskatchewan  (anglais seulement)"
  )}}
{% endblock %}
