{% extends "benefit-template.njk" %}

{% set sectionId = 'rent_help' %}

{% block header %}
  {{__("rent_help.header")}}
{% endblock %}

{% block body %}
  <ul>
    <li>Provincial governments are in charge of rental housing rules.</li>
    <li> In most provinces and territories, you cannot be evicted for not paying rent.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "rent_help",
    "https://www.cmhc-schl.gc.ca/en/rental-housing/covid-19-eviction-bans-and-suspensions-to-support-renters",
    "Check with your provincial government for more details"
  )}}
{% endblock %}
