{% extends "benefit-template.njk" %}

{% set sectionId = 'rrif' %}

{% block header %}
  {{__("rrif.header") }}
{% endblock %}

{% block body %}
  <ul>
    <li>The mandatory amount you need to withdraw from your RRIF in 2020 will be 25% lower so you can save more money.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "rrif",
    "https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/registered-retirement-income-fund-rrif.html",
    "Contact your bank for more details"
  )}}
{% endblock %}
