{% extends "benefit-template.njk" %}

{% set sectionId = 'rrif' %}

{% block header %}
  {{__("rrif.header")}}
{% endblock %}

{% block body %}
  <ul>
    <li>
      Le montant obligatoire que vous devrez retirer de votre fond enregistré de revenu de retraire
      en 2020 sera 25% plus bas afin que vous puissiez économiser.
    </li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "rrif",
    "https://www.canada.ca/fr/agence-revenu/services/impot/particuliers/sujets/fonds-enregistre-revenu-retraite-ferr.html",
    "Contactez votre banque pour plus de détails"
  )}}
{% endblock %}
