{% extends "benefit-template.njk" %}

{% set sectionId = 'student_loan' %}

{% block header %}
  {{__("student_loan.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Les paiements sont automatiquement suspendus</strong>") }}
  {{ benefitLi("<strong>Du 30 mars 2020 jusqu’au 30 septembre 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>Bon à savoir :</strong>
  <ul>
    <li>Vous n’avez pas à faire de demande afin de suspendre vos paiements.</li>
    <li> Les paiements pré-autorisés sont suspendus.</li>
    <li> Consultez vous à votre compte au <a href='https://www.csnpe-nslsc.canada.ca/fr/Accueil' target='_blank'>Centre de service national de prêts aux étudiants</a> pour plus de détails.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "student_loan",
    "https://www.csnpe-nslsc.canada.ca/fr/Accueil",
    "En savoir plus à propos de l’aide disponible pour votre dette d’étude"
  )}}
{% endblock %}
