{% extends "benefit-template.njk" %}

{% set sectionId = 'student_loan' %}

{% block header %}
  {{__("student_loan.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Payments automatically paused</strong>") }}
  {{ benefitLi("<strong>From March 30, 2020 until September 30, 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>Good to know:</strong>
  <ul>
    <li>You don’t need to apply to pause your payments.</li>
    <li> Pre-authorized payments are stopped.</li>
    <li> Log in to your <a href='https://www.csnpe-nslsc.canada.ca/en/home' target='_blank'>National Student Loans Service Centre</a> account to see how much you will save.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "student_loan",
    "https://www.csnpe-nslsc.canada.ca/en/home",
    "Learn more about help with student loan payments"
  )}}
{% endblock %}
