{% extends "benefit-template.njk" %}

{% set sectionId = 'student_financial_aid' %}

{% block header %}
  {{__("student_financial_aid.header")}}
{% endblock %}

{% block preamble %}
  Hausse des bourses et prêts canadiens d’études
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Jusqu’à 6000 $ en bourses pour les étudiants à temps plein</strong>") }}
  {{ benefitLi("<strong>Jusqu’à 3600 $ en bourses pour les étudiants à temps partiel</strong>") }}
  {{ benefitLi("<strong>Doublement des montants des bourses canadiennes pour étudiants qui ont des personnes à charge</strong>") }}
  {{ benefitLi("<strong>Doublement des montants des bourses canadiennes pour étudiants qui ont une incapacité permanente</strong>") }}
  {{ benefitLi("<strong>Exemption de la contribution de l’étudiant et de l’époux</strong>") }}
  {{ benefitLi("<strong>Jusqu’à 350 $ par semaine pour les prêts étudiants</strong>") }}
{% endblock %}

{% block body %}
  <strong>Bon à savoir :</strong>
  <ul>
    <li>Ce programme d’aide sera disponible dès le 1er août 2020.</li>
    <li>Ce programme est disponible pendant 1 an.</li>
    <li>Vous pouvez appliquer dans <a href="https://www.canada.ca/fr/services/prestations/education/aide-etudiants/bourses-prets/province-demande.html" target="_blank">votre province ou territoire de résidence</a>.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "student_financial_aid",
    "https://www.canada.ca/fr/services/prestations/education/aide-etudiants/avis-covid-19.html",
    "En savoir plus à propos de l’aide financière pour étudiants"
  )}}
{% endblock %}
