{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('unchanged_income.title') }}</h1>
    <div>
        {% call form() %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ radioButtons('unchanged_income',
                [
                    { value: 'wfh', text:__('your_situation.unchanged_income.1')},
                    { value: 'paid-leave', text:__('your_situation.unchanged_income.2')},
                    { value: 'retired', text:__('your_situation.unchanged_income.3')},
                    { value: 'student_2019_20', text:__('your_situation.unchanged_income.4')},
                    { value: 'high_school_grad', text:__('your_situation.unchanged_income.5')},
                    { value: 'none-of-the-above', text:__('your_situation.unchanged_income.none')}
                ],
                data.unchanged_income,
                __('form.your_situation.unchanged_income'),
                errors,
                { required: true })
            }}
            {{ formButtons() }}
        {% endcall %}
    </div>

{% endblock %}
