{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('dtc.title') }}</h1>
    <div>
        {% call form() %}
            <input type="hidden"
                  name="_csrf"
                  value="{{ csrfToken }}">

            {{ radioButtons('dtc',
                [
                    { value: 'yourself', text:__('dtc.1') },
                    { value: 'child', text:__('dtc.2') },
                    { value: 'no', text:__('dtc.3') }
                ],
                data.dtc,
                __('form.dtc'),
                errors,
                {
                    required: true
                }
            )}}
            {{ formButtons() }}
        {% endcall %}
    </div>

{% endblock %}
