{% extends "base.njk" %}

{% block content %}
    <h1 class="my-3">{{ __('welcome.title') }}</h1>

    <div class="bg-red-100 border-l-4 border-red-800 p-4 mt-8 hidden cookie-warning">
        <h2 class="text-2xl">{{ __('start.enable_cookies_title') }}</h2>
        <p class="p-0">{{ __('start.enable_cookies_body') }}</p>
    </div>

    <p class="my-8 text-sm">{{ __('welcome.body') }}</p>

    <div class="grid grid-cols-3 gap-6">

        <div class="space-y-4">
            <h2>{{ __('welcome.product.title') }}</h2>
            <p>{{ __('welcome.product.text') }}</p>
            <p>
                <a href="{{ __('welcome.intakelink.url') }}">{{ __('welcome.intakelink.title') }}</a>
            </p>
        </div>

        <div class="space-y-4">
            <h2>{{ __('welcome.design.title') }}</h2>
            <p>{{ __('welcome.design.text') }}</p>
            <p>
                <a href="{{ __('welcome.designsystem.url') }}">{{ __('welcome.designsystem.title') }}</a>
            </p>
        </div>

        <div class="space-y-4">
            <h2>{{ __('welcome.technology.title') }}</h2>
            <p>{{ __('welcome.technology.text') }}</p>
            <p>
                <a href="{{ __('welcome.technologygit.url') }}">{{ __('welcome.technologygit.title') }}</a>
            </p>
        </div>

    </div>

{% endblock %}