* {
  box-sizing: border-box;
}

main {
  @apply mx-40;
}

.gc-homepage {
  div {
    @apply mb-16;
  }

  div:last-of-type {
    @apply mb-20;
  }

  h2 {
    @apply text-h2 mb-5;
  }
}

.gc-ul {
  @apply list-disc text-base;
}

.gc-ul li {
  @apply ml-6;
}

.gc-ul li:last-of-type {
  @apply mb-12;
}

// FOOTER STYLES

.gc-footer {
  @apply border-0 bg-gray-100 mt-20;

  div img {
    @apply h-10;
  }

  .gc-footer-container {
    @apply flex py-10 px-40 mt-10 flex-row items-center justify-between;

    ul {
      @apply p-0 mb-0 flex text-base list-none;

      li {
        @apply pr-8;

        a {
          @apply no-underline hover:underline text-blue-dark;
        }
      }
      li:last-of-type {
        @apply pr-0;
      }
    }
  }
}

/* Adjustments for tailwind defaults that conflict with the node-starter-app defaults */

ol {
  @apply list-decimal;
}

ul {
  @apply list-disc;
}

a {
  @apply underline text-blue-dark;
}

a:visited {
  @apply text-purple-default;
}

.canada-wordmark img {
  @apply inline;
}

a[href],
area[href],
input,
select textarea,
button,
iframe,
[tabindex],
[contentEditable="true"] {
  &:not([disabled]):focus:not(.autocomplete__option) {
    @include focus();
  }
}

body {
  margin: 0;
  font-size: 1.25em;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.65;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  line-height: 1.33;
  font-weight: 600;
}

.outer-container {
  position: relative;
  min-height: 100vh;
}
