* {
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 450px);
  display: block;
  @apply xs:mx-4 md:mx-8 lg:mx-16 xl:mx-32 xxl:mx-48 mx-64;
}

.gc-richText {
  @apply xxs:w-cr-label-fold xs:w-cr-label-5s sm:w-cr-label-6s md:w-cr-label-duo md:mt-10px lg:w-cr-label-ipad xl:w-cr-label-1025 w-cr-label-desktop mt-2;
}

.gc-homepage {
  @apply md:text-small_base text-base;

  div {
    @apply md:mb-12 mb-14 max-w-prose;
  }

  div:last-of-type {
    @apply md:mb-14 mb-20;
  }

  h2 {
    @apply md:text-small_h2 text-h2 mb-5;
  }
}

.gc-ul {
  @apply md:text-small_base list-disc text-base;
}

.gc-ul {
  li {
    @apply ml-6 block;
  }
}

ul.custom {
  list-style: none;
  padding-left: 1em;
  margin-left: 0;
  li {
    margin: 0.5rem 0;
  }
  li:before {
    content: "•";
    margin: 0 0.5em 0.1em -0.9em;
    font-size: 22px;
  }
}

.gc-ul li:last-of-type {
  @apply mb-12;
}

// HORIZONTAL NAV LIST STYLES
.gc-horizontal-list {
  @apply lg:flex-col lg:text-small_base p-0 mb-0 flex text-base list-none;

  .gc-horizontal-item {
    @apply lg:pr-0 lg:pb-4 pr-8 pb-0;

    &:last-of-type {
      @apply lg:pb-20 pr-0 pb-0;
    }
  }
}

// FOOTER STYLES

.gc-footer {
  @apply lg:mt-10 border-0 bg-gray-100 mt-16;

  div img {
    @apply lg:h-8 h-10;
  }

  .gc-footer-container {
    @apply xs:px-4 md:px-8 lg:flex-col lg:items-start lg:px-16 xl:px-32 xxl:px-48 flex py-10 px-64 flex-row items-center justify-between;

    ul {
      @apply lg:flex-col lg:text-small_base p-0 mb-0 flex text-base list-none;

      li {
        @apply lg:pr-0 lg:pb-4 pr-8 pb-0;

        a:visited {
          @apply text-purple-default;
        }

        a {
          @apply no-underline hover:underline text-blue-dark hover:text-blue-hover;
        }

        a:focus {
          outline: none;
          box-shadow: 4px 0 0 0 #303fc3, -4px 0 0 0 #303fc3;
          @apply underline bg-blue-focus text-white-default;
        }

        a:active {
          box-shadow: 4px 0 0 0 #1b2736, -4px 0 0 0 #1b2736;
          @apply underline bg-blue-active text-white-default;
        }
      }
      li:last-of-type {
        @apply lg:pb-20 pr-0 pb-0;
      }
    }
  }
}

/* Admin styling */
ul.data_list {
  @apply list-none;
  li {
    @apply border-2 border-solid border-gray-400 cursor-pointer inline-block overflow-hidden break-words;
    max-height: 100px;
    max-width: 100%;
    width: 100%;
    font-family: monospace;
    margin: 0 1rem;

    div.update-buttons {
      display: inline-block;
    }
    div.form-title {
      max-width: 70%;
    }
  }
}

/* Adjustments for tailwind defaults that conflict with the node-starter-app defaults */

ol {
  @apply list-decimal;
}

ul {
  @apply list-disc pl-10;
}

a:visited {
  @apply text-purple-default;
}

a,
.gc-button-link {
  @apply underline text-blue-dark hover:text-blue-hover;
}

a:focus,
.gc-button-link:focus {
  outline: none;
  box-shadow: 4px 0 0 0 #303fc3, -4px 0 0 0 #303fc3;
  @apply bg-blue-focus text-white-default;
}

a:active {
  box-shadow: 4px 0 0 0 #1b2736, -4px 0 0 0 #1b2736;
  @apply underline bg-blue-active text-white-default;
}

.link-list {
  li {
    @apply mb-2;
  }

  li:last-of-type {
    @apply mb-0;
  }
}

.canada-wordmark img {
  @apply inline;
}

body {
  margin: 0;
  font-size: 1.25em;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.65;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  line-height: 1.33;
  font-weight: 600;
}

.outer-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.email-preview > * {
  all: revert;
}

.email-preview ul {
  padding-left: 20px !important;
}
