* {
  box-sizing: border-box;
}

.gc-layout-container {
  @apply mx-40;
}

.gc-ul {
  @apply list-disc text-base;
}

.gc-ul li {
  @apply ml-6;
}

.gc-ul li:last-of-type {
  @apply mb-12;
}

.gc-footer {
  @apply border-0 bg-gray-100 mt-20;
}

.gc-footer .gc-footer-container {
  @apply flex py-10 px-40 mt-10 flex-row items-center justify-between;
}

.gc-footer .gc-footer-container ul {
  @apply p-0 flex text-base list-inside;
}

.gc-footer .gc-footer-container ul li {
  @apply pr-4;
}

.gc-footer .gc-footer-container ul li:last-of-type {
  @apply pr-0;
}

.gc-footer .gc-footer-container ul li a {
  @apply no-underline hover:underline text-blue-dark;
}

.gc-footer div img {
  @apply h-10;
}

/* Adjustments for tailwind defaults that conflict with the node-starter-app defaults */

ol {
  @apply list-decimal;
}

ul {
  @apply list-disc;
}

a {
  @apply underline;
}

.canada-wordmark img {
  @apply inline;
}

a[href],
area[href],
input,
select textarea,
button,
iframe,
[tabindex],
[contentEditable="true"] {
  &:not([disabled]):focus:not(.autocomplete__option) {
    @include focus();
  }
}

body {
  margin: 0;
  font-size: 1.25em;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.65;
}

p,
.multiple-choice__item p,
ol,
ul {
  margin-top: 0;
  margin-bottom: $space-xs;

  @include xs {
    margin-bottom: $space-sm;
  }
}

p + ul {
  margin-top: -$space-xs;

  @include xs {
    margin-top: -$space-sm;
  }
}

ol,
ul {
  padding-left: $space-lg;

  @include sm {
    padding-left: $space-xl;
  }
}

a,
a:visited {
  color: $color-blue-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  line-height: 1.33;
  font-weight: 600;
}

%page-container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: $space-md;
  padding-right: $space-md;

  @include xl {
    max-width: 1024px;
  }
}

main {
  @extend %page-container;
  padding: 0 $space-md;
}

li:not(:last-of-type) {
  padding-bottom: $space-xxs;

  @include sm {
    padding-bottom: 0;
  }
}

.outer-container {
  position: relative;
  min-height: 100vh;
}

.page--container {
  @extend %page-container;
}

.hide--mobile {
  display: none;

  @include sm {
    display: inherit;
  }
}
