.form-builder {
  .form-builder-editor {
    .radio-label-text,
    .checkbox-label-text {
      @apply w-auto;
    }
  }

  /*--------------------------------------------*
  * Expanding Textarea
  *--------------------------------------------*/
  // see: https://css-tricks.com/auto-growing-inputs-textareas/#aa-other-ideas
  .input-sizer {
    display: inline-grid;
    vertical-align: top;
    box-sizing: border-box;

    &.stacked {
      align-items: stretch;
      &::after,
      textarea {
        grid-area: 2 / 1;
      }
    }

    &::after,
    textarea {
      min-width: 100%;
      grid-area: 1 / 2;
      resize: none;
      appearance: none;

      padding-top: 0.625rem;
      padding-bottom: 0.375rem;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
    }

    &::after {
      content: attr(data-value) " ";
      visibility: hidden;
      white-space: pre-wrap;
    }
  }

  /*--------------------------------------------*
  * Multiple Choice
  *--------------------------------------------*/
  .multiple-choice-wrapper {
    display: block;
    float: none;
    clear: left;
    position: relative;
    padding: 0 0 0 38px;
    margin-bottom: 10px;
    input {
      position: absolute;
      cursor: pointer;
      left: 0;
      top: 0;
      width: 38px;
      height: 38px;
      z-index: 1;
      margin: 0;
      zoom: 1;
      filter: alpha(opacity=0);
      opacity: 0;
    }
    label {
      cursor: pointer;
      padding: 3px 10px 5px 10px;
      display: inline-block;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
    }
    input[type="radio"] + label::before {
      content: "";
      border: 1px solid #64748b; // slate-500
      background: transparent;
      width: 34px;
      height: 34px;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    input[type="radio"] + label::after {
      content: "";
      border: 10px solid #64748b; // slate-500
      width: 0;
      height: 0;
      position: absolute;
      top: 7px;
      left: 7px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      zoom: 1;
      filter: alpha(opacity=0);
      opacity: 0;
    }
    input[type="checkbox"] + label::before {
      content: "";
      border: 2px solid #64748b; // slate-500
      background: transparent;
      width: 34px;
      height: 34px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4px;
    }
    input[type="checkbox"] + label::after {
      content: "";
      border: solid;
      border-width: 0 0 4px 4px;
      background: transparent;
      border-top-color: transparent;
      width: 21px;
      height: 13px;
      position: absolute;
      top: 7px;
      left: 7px;
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      zoom: 1;
      filter: alpha(opacity=0);
      opacity: 0;
    }
    input[type="radio"]:focus + label::before {
      -webkit-box-shadow: 0 0 0 4px #303fc3;
      -moz-box-shadow: 0 0 0 4px #303fc3;
      box-shadow: 0 0 0 4px #303fc3;
    }
    input[type="checkbox"]:focus + label::before {
      -webkit-box-shadow: 0 0 0 3px #303fc3;
      -moz-box-shadow: 0 0 0 3px #303fc3;
      box-shadow: 0 0 0 3px #303fc3;
    }
    input:checked + label::after {
      zoom: 1;
      filter: alpha(opacity=100);
      opacity: 1;
    }

    input:disabled {
      cursor: default;
    }
    input:disabled + label {
      zoom: 1;
      filter: alpha(opacity=50);
      opacity: 0.5;
      cursor: default;
    }
  }

  .form-builder-dropdown {
    background-image: url("../public/img/form-builder-arrow-down.svg");
    @apply appearance-none bg-no-repeat;
    background-position: center right 5px;
  }

  /* end form builder styles */
}

@keyframes react-loading-skeleton {
  100% {
    transform: translateX(100%);
  }
}

/* Skeleton styles */

.react-loading-skeleton {
  --base-color: #ebebeb;
  --highlight-color: #f5f5f5;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block; /* Enable animation */

  background-color: var(--base-color);

  width: 100%;
  border-radius: 0.25rem;
  display: inline-flex;
  line-height: 1;

  position: relative;
  user-select: none;
  overflow: hidden;
}

.react-loading-skeleton::after {
  content: " ";
  display: var(--pseudo-element-display);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    90deg,
    var(--base-color),
    var(--highlight-color),
    var(--base-color)
  );
  transform: translateX(-100%);

  animation-name: react-loading-skeleton;
  animation-direction: var(--animation-direction);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@media (prefers-reduced-motion) {
  .react-loading-skeleton {
    --pseudo-element-display: none; /* Disable animation */
  }
}

.rct-tree-root {
  padding: 0 !important;
  margin: 0;
}

.flow-container {
  height: calc(100vh - 300px);
}

/* Global Maple Leaf Loader Animation */
@keyframes maple-leaf-dash {
  0% {
    stroke-dashoffset: -400;
    opacity: 0;
  }
  10% {
    stroke-dashoffset: -400;
    opacity: 1;
  }
  70% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  80% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  90% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: -400;
    opacity: 0;
  }
}

.maple-leaf-loader {
  stroke-dasharray: 400;
  stroke-dashoffset: -400;
  opacity: 0;
  animation: maple-leaf-dash 2s ease-out infinite;
}

.gc-lost-key-button {
  anchor-name: --gc-lost-key-button;
}

.gc-lost-key-popover-content {
  position: absolute;
  position-anchor: --gc-lost-key-button;
  inset: unset;
  left: anchor(right);
  top: anchor(center);
  translate: 0 -50%;
  margin-left: 0.5rem;
  max-width: 650px;
}
