.editor-list-ol {
  padding-left: 20px;
}

.link-editor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 8px;
}

.link-editor button.active,
.toolbar button.active {
  background-color: #fff;
}

.link-editor .link-input {
  display: inline-block;
  width: calc(100% - 24px);
  box-sizing: border-box;
  margin: 8px 12px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #eee;
  font-size: 15px;
  color: #050505;
  border: 0;
  outline: 0;
  position: relative;
  font-family: inherit;
}

.link-editor button.link-edit {
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  vertical-align: -0.25em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.link-editor .link-input span {
  color: #216fdb;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
  text-overflow: ellipsis;
}

.link-editor .font-size-wrapper,
.link-editor .font-family-wrapper {
  display: flex;
  margin: 0 4px;
}

.link-editor select {
  padding: 6px;
  border: none;
  background-color: #00000013;
  border-radius: 4px;
}

.modal-dialog {
  padding: 0;
  background: transparent;
  margin: 0;
  background-clip: padding-box;
  width: 100%;
  max-width: none;
  max-height: none;
  height: 100%;

  .modal-content {
    width: 750px; /* TODO: fix this for mobile */
    margin: 1.75rem auto;
    border: 1.5px solid #000000;
    box-shadow: 0px 4px 0px -1px #000000;
    background: #ffffff;
    border-radius: 12px;
    outline: 0;
    max-height: none;
    overflow-x: scroll;

    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
  }

  .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #cacaca;
  }

  .modal-title {
    padding-bottom: 15px;
  }

  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
  }

  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    border-top: 1px solid #cacaca;
  }
}

.builder-element-dropdown {
  width: 250px;

  .header-button {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    border: 1.5px solid #000000;
    width: 100%;
    line-height: 24px;
    &:focus,
    &[aria-expanded="true"] {
      border-color: #303fc3;
      box-shadow: 0 0 0 2.5px #303fc3;
      outline: 0;
    }
  }

  .selected {
    width: 100%;
    display: flex;
    justify-content: space-between;

    svg {
      margin-right: 20px;
    }
  }

  ul {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    margin: 0px;
    margin-top: 10px;
    list-style: none;
    background-color: #fff;
    position: absolute;
    width: 250px;
  }

  li {
    display: flex;
    align-content: flex-start;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 26px;
    padding-bottom: 8px;
    padding-top: 8px;

    .text {
      margin-left: 10px;
      line-height: 24px;
      color: #202124;
    }
    .highlighted {
      color: #fff;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      overflow: hidden;
      display: inline-block;
      position: relative;
      padding-top: 2px;

      svg {
        height: 20px;
        width: 20px;
      }
    }
    .highlighted {
      color: #fff;
    }
  }
  .highlighted {
    background: #718096;
    svg {
      path {
        fill: #fff;
      }
    }
  }
}
