@use "sass:meta";
// IE polyfills
@supports not (display: grid) {
  input {
    border: 1px solid #000;
  }
}

@import "@gcds-core/tokens/build/web/css/components.css";

// Import CSS variables from gcds-tokens
@import "@gcds-core/tokens/build/web/css/components/heading.css";
@import "@gcds-core/tokens/build/web/css/components/label.css";
@include meta.load-css("_icons");
@include meta.load-css("_input");
@include meta.load-css("_textarea");
@include meta.load-css("_label");
@include meta.load-css("checkbox");
@include meta.load-css("radio");
@include meta.load-css("_dropdown");
@include meta.load-css("_alert");
@include meta.load-css("_combobox");
@include meta.load-css("./_fieldset");

.gc-fieldset ul {
  @apply mb-14;
}

.gc-alert,
.gc-error-message {
  @apply py-0 w-full mb-2;
  color: var(--gcds-error-message-text-color);
}

.gc-error-message + .gc-input-text,
.gc-error-message + .gc-textarea,
.gc-error-message + .gc-dropdown {
  @apply border-red-700;
}

.gc-error-input {
  @apply border-red-700 !important;
}

.gc-ordered-list {
  @apply ml-0 font-normal;
}

.gc-p {
  @apply md:text-sm text-xl mb-10 w-full;
}

.gc-description {
  @apply md:text-xs text-gray-text mb-3 text-sm w-3/4 xl:w-full;
}

.gc-formview .gc-richText p:has(+ ul, + ol) {
  @apply mb-10; // Reset the margin for .gc-formview
}

.gc-richText {
  p {
    @extend .gc-p;
  }

  p:has(+ ul, + ol) {
    @apply mb-0;
  }

  ul,
  ol {
    @apply mb-10;
  }

  ul,
  ol {
    p {
      @apply mb-1;
    }
  }

  ul,
  ol {
    ul,
    ol {
      @apply mb-0;
    }
  }

  ol {
    @apply list-inside;
  }

  a {
    @apply underline text-blue-dark hover:text-blue-hover;
  }
}

.gc-item-row {
  @apply border-t-2 pt-16 pb-3 px-0 bg-white-default mt-0 border-black-form;

  h3 {
    @apply md:text-lg font-bold text-2xl pb-0 mb-10;
  }
}

.gc-form {
  @apply max-w-prose;
}

.gc-form-group {
  @apply mb-0;

  .gc-input-radio:last-of-type,
  .gc-input-checkbox:last-of-type {
    @apply md:mb-10 pb-0;
  }
}

.gc-section-header {
  @apply md:text-xl font-bold text-3xl mb-16 mt-12 p-6 bg-gray-background;
}

.gc-label {
  @apply md:text-sm block mb-2 text-base font-bold w-3/4 xl:w-full;
  &.required > span {
    @apply text-red-required;
    content: " *";
  }
}

.gc-plain-text {
  @apply w-full my-5;
}

.gc-textarea {
  @apply md:text-sm md:w-full text-base text-gray-700 border-solid block border-2 border-black-form py-3 px-2 mt-2 w-3/4 h-40;
  &.full-height {
    @apply h-auto;
  }

  &:focus {
    @apply outline-none border-blue-focus shadow-input;
  }
}

.focus-group {
  @apply mb-14;
}

.focus-group:focus-within {
  .gc-label,
  .legend-fieldset,
  .gc-description {
    @apply text-blue-focus;
  }
}
.gc-form-group-context {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

.gc-input-text {
  border: solid 2px black;
  @apply md:w-full md:text-sm text-base text-gray-700 border-2 py-3 px-2 mt-2 w-96;

  &:focus {
    @apply outline-none border-blue-focus shadow-input;
  }
}

.gc-input-radio,
.gc-input-checkbox {
  @apply flex pt-3 pb-1 px-0;
}

.gc-radio-label,
.gc-checkbox-label {
  @apply md:text-sm font-normal text-base flex;

  .checkbox-label-text,
  .radio-label-text {
    @apply xxs:w-cr-label-fold xs:w-cr-label-5s sm:w-cr-label-6s md:w-cr-label-duo lg:w-cr-label-ipad xl:w-cr-label-1025 w-cr-label-desktop md:mt-10px mt-2;
  }
}

.gc-file-input {
  @apply w-full md:text-sm text-base text-gray-700 py-3 pr-2 mt-2 mb-14;

  &:focus {
    @apply outline-none border-blue-focus shadow-input;
  }

  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.gc-file-input-upload-button {
  @apply text-center inline-block mb-0;
}

.gc-file-input [type="file"] {
  display: none;
}

.page-preview-form,
.page-en-preview-form,
.page-fr-preview-form {
  h1::before {
    content: "[Preview/Prévisualisation]";
    @apply mb-10 block font-bold text-green-700;
  }
}

.validation-message {
  @apply text-red-500;
}

.gc-form-confirmation {
  p {
    @apply text-base md:text-sm;
  }
}

.confirmation-content {
  @apply relative;
}

.confirmation-list {
  @apply list-inside mb-10;
}

.gc-confirmation-banner {
  @apply bg-gray-200 py-16 px-20 mb-10 w-5/6 xl:w-full md:py-10 md:px-10;

  h2 {
    @apply text-3xl mb-6 md:text-xl;
  }

  p:first-of-type {
    @apply mb-5 md:text-sm;
  }

  p:last-of-type {
    @apply font-bold md:text-sm;
  }
}
