// PHASE BANNER STYLES

.gc-phase-banner {
  @apply bg-gray-background flex items-center py-6 xs:-mx-4 md:-mx-8 lg:-mx-16 xl:-mx-32 xxl:-mx-48 -mx-64;

  .banner-container {
    @apply flex xs:px-4 md:px-8 lg:px-16 xl:px-32 xxl:px-48 px-64;
  }

  .phase-badge {
    @apply md:text-small_sm text-badge bg-black-default text-white-default font-bold py-0 px-0 mr-6;
    padding: 4px 10px !important;
  }

  .phase-text {
    @apply md:pb-2 md:text-small_sm md:top-3 md:mb-2 mb-0 top-2 text-sm pb-2 block relative;
  }

  span span {
    @apply border-0 py-0 px-0 mr-0;
  }
}

// FIP STYLES

.gc-fip {
  @apply lg:flex-col-reverse lg:items-start lg:my-10 flex flex-row justify-between items-center my-20;
}

.gc-fip a {
  @apply block;
}

// LANGUAGE TOGGLE

.gc-language-toggle {
  @apply md:text-small_base text-base text-right;

  label {
    @include visuallyHidden();
  }

  button {
    @apply shadow-none bg-transparent text-blue-dark hover:text-blue-hover underline border-0;
  }

  button:focus {
    outline: none;
    box-shadow: 4px 0 0 0 #303fc3, -4px 0 0 0 #303fc3;
    @apply bg-blue-focus text-white-default;
  }

  button:active {
    box-shadow: 4px 0 0 0 #1b2736, -4px 0 0 0 #1b2736;
    @apply underline bg-blue-active text-white-default;
  }
}

header {
  .canada-flag {
    @apply xxs:w-flag-fold xs:w-flag-5s md:w-flag-6s lg:mt-10 w-flag-desktop mt-0;

    a:hover {
      @apply hover:bg-white-default;
    }

    a:focus {
      outline: 3px solid #303fc3;
      outline-offset: 1px;
      @apply bg-white-default;
    }

    a:active {
      @apply bg-white-default;
    }
  }
}

.visually-hidden {
  @include visuallyHidden();
}

#skip-link-container {
  width: 100%;
  position: absolute;
  z-index: 5;
  text-align: center;
  top: 10px;

  #skip-link {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;

    &:focus {
      position: static;
      padding: 5px;
      width: auto;
      height: auto;
      overflow: auto;
      text-align: center;
    }
  }
}
