// FIP STYLES

.gc-fip {
  @apply lg:flex-col-reverse lg:items-start lg:my-10 flex flex-row justify-between items-center my-20;
}

.gc-fip a {
  @apply block;
}

// LANGUAGE TOGGLE

.gc-language-toggle {
  @apply md:text-small_base text-base text-right;

  label {
    @include visuallyHidden();
  }

  button {
    @apply shadow-none bg-transparent text-blue-dark hover:text-blue-hover underline border-0;
  }

  button:focus {
    outline: none;
    box-shadow: 4px 0 0 0 #303fc3, -4px 0 0 0 #303fc3;
    @apply bg-blue-focus text-white-default;
  }

  button:active {
    box-shadow: 4px 0 0 0 #1b2736, -4px 0 0 0 #1b2736;
    @apply underline bg-blue-active text-white-default;
  }
}

// header { -- For reuse outside just the header, though may be edge cases, keeping commented for now 
  .canada-flag {
    @apply xxs:w-flag-fold xs:w-flag-5s md:w-flag-6s lg:mt-10 w-flag-desktop mt-0;

    a:hover {
      @apply hover:bg-white-default;
    }

    a:focus {
      outline: 3px solid #303fc3;
      outline-offset: 1px;
      @apply bg-white-default;
    }

    a:active {
      @apply bg-white-default;
    }
  }
// }

.visually-hidden {
  @include visuallyHidden();
}

#skip-link-container {
  width: 100%;
  position: absolute;
  z-index: 5;
  text-align: center;
  top: 10px;

  #skip-link {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;

    &:focus {
      position: static;
      padding: 5px;
      width: auto;
      height: auto;
      overflow: auto;
      text-align: center;
    }
  }
}
