@font-face {
  font-family: "gcds-icons";
  src: url("/fonts/icons/gcds-icons.eot");
  src:
    url("/fonts/icons/gcds-icons.eot#iefix") format("embedded-opentype"),
    url("/fonts/icons/gcds-icons.ttf") format("truetype"),
    url("/fonts/icons/gcds-icons.woff") format("woff"),
    url("/fonts/icons/gcds-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="gcds-icon-"],
[class*=" gcds-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "gcds-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gcds-icon-checkmark-circle:before {
  content: "\e908";
}

.gcds-icon-chevron-down:before {
  content: "\e900";
}

.gcds-icon-chevron-left:before {
  content: "\e901";
}

.gcds-icon-chevron-right:before {
  content: "\e902";
}

.gcds-icon-chevron-up:before {
  content: "\e903";
}

.gcds-icon-close:before {
  content: "\e90b";
}

.gcds-icon-download:before {
  content: "\e906";
}

.gcds-icon-email:before {
  content: "\e905";
}

.gcds-icon-exclamation-circle:before {
  content: "\e909";
}

.gcds-icon-external:before {
  content: "\e904";
}

.gcds-icon-info-circle:before {
  content: "\e90a";
}

.gcds-icon-phone:before {
  content: "\e90c";
}

.gcds-icon-search:before {
  content: "\e907";
}

.gcds-icon-warning-triangle:before {
  content: "\e90d";
}
