.main-div {
    display: block;
    @apply xs:mx-4 sm:mx-4 lg:mx-16 xl:mx-32 xxl:mx-48 mx-64;
}

.fip {
    @apply  flex  justify-between items-center my-10;
}

.flag {
    @apply xxs:w-flag-fold xs:w-flag-5s md:w-56 w-flag-desktop;
}

.bottom-border {
    border-bottom: 1px solid black;
}

.content-div {
    display: flex;
    height: 80vh;
    .div-border {
        border-bottom: 1px solid black;
    }
    h1 {
        @apply md:text-small_h1 text-h1 mb-10;
    }
    p {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    ul {
        list-style: none;
        padding: 0;
    }

    @apply md:h-auto;




}
.copy-link {
    display: flex;
    @apply sm:justify-between;
    .link-box {
        border: 1px solid gray;
        padding: 4px 8px 4px 8px;
        height: 100%;
        @apply mr-2 w-1/3 lg:w-auto xl:w-auto sm:w-auto sm:mr-0;

    }
    .link-btn {
        background-color: #C4C4C4;
        padding: 4px 8px 6px 8px;
        @apply py-1 px-4 sm:p-0.5;
        &:hover {
            background-color: #ababab;
        }
        &:active {
            background-color: #ababab;
        }

    }
}

.incompatible-footer {
    @apply lg:mt-10 border-0 mt-16;
    div img {
        @apply xxs:w-flag-fold xs:w-flag-5s md:w-56 w-flag-5s;
      }

    .incompatible-footer-container {
        border-top: 5px solid black;
        
        @apply py-10 flex flex-col px-64 lg:px-16 xl:px-32 sm:py-2 sm:px-6;
        .terms-class {
            @apply md:mb-10 flex self-start xxl:flex self-start
        }
        .fip-class {
            @apply flex self-end sm:flex sm:self-start;
        }
        
    }
}