.gc-radio__input {
  @apply md:mr-4 mr-6 absolute w-10 h-10 bg-white-default border-transparent;
  & + .gc-radio-label {
    @apply relative cursor-pointer p-0;
  }

  &:focus {
    @apply outline-none;
  }

  &:focus + .gc-radio-label {
    span {
      @apply text-blue-focus;
    }
  }

  &:focus + .gc-radio-label:before {
    @apply outline-none border-4 border-blue-focus;
  }

  // Circle.
  & + .gc-radio-label:before {
    content: "";
    @apply md:mr-4 mr-6 inline-block w-10 h-10 bg-white-default border-2 border-black-form rounded-full;
  }

  // Radio. Could be replaced with an image
  &:checked + .gc-radio-label:after {
    content: "";
    background-image: url("../public/img/black-circle.svg");
    @apply absolute w-5 h-5 left-10px;
  }

  &:focus + .gc-radio-label:after {
    background-image: url("../public/img/blue-circle.svg");
  }
}
