.gc-welcome-bg-container {
  margin-left: -12rem;
  margin-right: -12rem;
}
.gc-welcome-container {
  margin-left: 12rem;
  margin-right: 12rem;
  @apply text-sm;

  h2 {
    @apply md:text-small_h2 md:text-center text-h2 mb-5;
  }
  p,
  li {
    @apply mb-4 text-left;
  }

  .welcome-grid {
    @apply grid grid-cols-2 md:grid-cols-1 gap-10 justify-center;
  }
  .welcome-grid-item {
    @apply py-10 align-middle;
  }

  button {
    @apply mb-0;
  }
}
