@use "sass:meta";
@tailwind base;
@tailwind components;

// Custom base CSS files
@include meta.load-css("_base");
@include meta.load-css("_typography");
@include meta.load-css("_forms");
@include meta.load-css("_form-builder");
@include meta.load-css("_header");
@include meta.load-css("_gc-header");
@include meta.load-css("_toast");
@include meta.load-css("animations");

// Tailwind Utilities needs to be loaded last to use inline
@tailwind utilities;
