@import "~tailwindcss/base";
@import "~tailwindcss/components";

// Custom Variables
@import "./_mixins";

// Custom base CSS files
@import "./_base";
@import "./_forms";
@import "./_header";

// Tailwind Utilities needs to be loaded last to use inline
@import "~tailwindcss/utilities";

