@import "tailwindcss/base";
@import "tailwindcss/components";

// Custom Variables
@import "./_mixins";

// Custom base CSS files
@import "./_base";

// These will still apply to form output
@import "./_forms";

// wrappign import in :not([data-theme="gcds"]) moves the specificity really high up, and creates some side effects.

[data-theme="gcds"] {
  // Really obvious to spot the scope
  background-color: yellow;

  // Just overwriting what is needed. example.
  input {
    border-radius: var(--gcds-input-border-radius);
  }
}

@import "./_form-builder";
@import "./_header";

@layer base {
  /* latin */
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato"), url("../public/static/fonts/Lato-Regular.woff2") format("woff2"),
      url("../public/static/fonts/Lato-Regular.woff") format("woff")
        url("../public/static/fonts/Lato-Regular.ttf") format("truetype");
  }

  /* latin */
  @font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../public/static/fonts/NotoSans-Regular.woff2") format("woff2"),
      url("../public/static/fonts/NotoSans-Regular.woff") format("woff")
        url("../public/static/fonts/NotoSans-Regular.ttf") format("truetype");
  }

  /* latin */
  @font-face {
    font-family: "Noto Sans";
    font-style: bold;
    font-weight: 700;
    src: url("../public/static/fonts/NotoSans-Bold.woff2") format("woff2"),
      url("../public/static/fonts/NotoSans-Bold.woff") format("woff")
        url("../public/static/fonts/NotoSans-Bold.ttf") format("truetype");
  }
}

// Tailwind Utilities needs to be loaded last to use inline
@import "tailwindcss/utilities";
