.ContentEditable__root {
  padding: 20px;

  &:focus {
    outline: 2px #303fc3 solid;
  }

  p:first-child {
    margin-top: 0;
  }

  p {
    margin: 40px 0;
  }

  .editor-nested-listitem {
    list-style-type: none;
  }

  .editor-list-ol {
    padding-left: 20px;
  }
}

.ContentEditable__placeholder {
  font-size: 15px;
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 8px;
  left: 46px;
  right: 28px;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  pointer-events: none;
}
@media (max-width: 1025px) {
  .ContentEditable__placeholder {
    left: 8px;
    right: 8px;
  }
}
