{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('intake-form.title') }}</h1>

<form method="POST" action="/submit-form">
  <input type="text" name="username" />
  <input type="submit" />
</form>


{% endblock %}

