{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('intake-form.title') }}</h1>

    <div>

        <form novalidate method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            {{ textInput('name', __('form.name')) }}
            {{ textInput('email', __('form.email')) }}
            {{ textInput('department', __('intake-form.questions.department')) }}
            {{ textInput('service', __('intake-form.questions.service')) }}
            {{ textArea('problem', __('intake-form.questions.problem'), { class: 'w-3/4' }) }}
            {{ textInput('timeline', __('intake-form.questions.timeline')) }}
            {{ textArea('aboutus', __('intake-form.questions.aboutus'), { class: 'w-3/4' }) }}
            {{ formSubmitButton() }}
        </form>
    </div>

{% endblock %}

