{% macro formButtons(submitButtonText = 'Next', cancelUrl = '/clear') %}
    <div class="buttons">
        <div class="buttons--left next-button">
            <button class="py-3 px-4 border shadow" data-cy="next" type="submit">{{ __(submitButtonText) }}</button>
        </div>
        <div class="buttons--right"><a data-gc-analytics-customclick="ESDC|EDSC:Covid19 Benefits:Start Over button click" class="py-3 px-4 button-link transparent full-width" href="{{ cancelUrl }}"><img src="{{ asset('/img/times-circle.svg') }}" class="h-6 w-6" alt="" /><span>{{ __('start_over') }}</span></a></div>
    </div>
{% endmacro %}

{% macro linkButtons(confirmURL) %}
    <div class="buttons-row">
        <a href="{{ confirmURL }}">{{ __('Confirm') }}</a>
    </div>
{% endmacro %}