{% macro fileInput(label, divClasses, attributes) %}
    <div class="file-box">
        <input type="file" name="{{attributes.name}}[]" id="{{attributes.name}}" class="inputfile{{divClasses}}" data-multiple-caption="{count} files selected" multiple />
        <label for="{{attributes.name}}">
            <span class="filename"></span> 
            <span class="pick">{{__(label)}}</span>
        </label>
    </div>
{% endmacro %}