{#
  - `name`: field name
  - `label`: text for the label
  - `attributes`: object of optional attributes: id, class, hint, divClasses, autocomplete
#}
{% if errors %}
    {% set firstError = errors[errors.keys()[0]] %}
{% endif %}

{% macro textArea(name, label, attributes) %}
    <div class="{{ 'has-error' if errors and errors[name] }} {{ attributes.divClasses }}">
        <label for="{{ name }}" id="{{ name }}__label">
        {% if attributes.required %}
                <strong aria-hidden="true" class="required font-normal">*</strong>
        {% endif %}
        {{ __(label) }}
        {% if attributes.required %}
            <strong class="required font-normal">{{ __("required")}}</strong>
        {% endif %}
        </label>
        {% if attributes.hint %}
            <span class="form-message">{{ __(attributes.hint) }}</span>
        {% endif %}
        {% if errors and errors[name] %}
            {{ validationMessage(errors[name].msg, name) }}
        {% endif %}
        <textarea class="{{ attributes.class if attributes.class else "w-3-4" }}" id="{{ attributes.id if attributes.id else name }}" {% if errors and errors[name] %} aria-describedby="{{ name + '-error' }}" aria-invalid="true" {% endif %} {% if errors and firstError.param === name %} autofocus="true" {% endif %} name="{{ name }}">{{ data[name] }}</textarea>
    </div>
{% endmacro %}