{% macro validationMessage(msg, id) %}
    <span class="validation-message" id="{{ id }}-error" role="alert">
        <span class="visually-hidden">{{ __('Error:') }}</span>
        {{ __(msg) }}
    </span>
{% endmacro %}