name: E2E Tests
on:
  pull_request:
  push:
    branches: [develop, main]

jobs:
  cypress-run:
    name: Cypress
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.LAMBDA_AWS_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET}}
      NEXTAUTH_URL: http://localhost:3000
      APP_ENV: test
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - uses: cypress-io/github-action@v2
        with:
          build: yarn build
          start: yarn start:test
          wait-on: "http://localhost:3000"
          command: yarn cypress:headless
          config: baseUrl=http://localhost:3000
          parallel: false
          group: "Form E2E Tests"
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
