name: Accessibility Checks
on: [pull_request]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: cypress-io/github-action@v2
        with:
          build: yarn build
          start: yarn start
          env:
            NODE_ENV: "development"
          wait-on: "http://localhost:3000"
          command: yarn cypress:headless
