name: E2E Tests
on:
  push:
    branches: [main, sandbox]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main, sandbox]
jobs:
  cypress-run:
    name: Cypress
    runs-on: ubuntu-latest
    env:
      NEXTAUTH_URL: http://localhost:3000
      ISOLATED_INSTANCE: 1
      DATABASE_URL: postgres://postgres:password@localhost:5432/formsDB
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - uses: cypress-io/github-action@v2
        with:
          build: yarn build
          start: yarn start:test
          wait-on: "http://localhost:3000"
          command: yarn cypress:headless
          config: baseUrl=http://localhost:3000
          parallel: false
          group: "Form E2E Tests"
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
