name: PR review sync envionment variables

on:
  workflow_run:
    workflows: ["Deploy to Staging"]
    types:
      - completed

env:
  AWS_ACCOUNT_ID: ${{ vars.STAGING_AWS_ACCOUNT_ID }}
  AWS_REGION: ca-central-1

permissions:
  id-token: write
  contents: read

jobs:
  deploy-form-viewer-service:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4.1.0
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/platform-forms-client-apply
          role-session-name: PRReviewSyncEnvVars
          aws-region: ${{ env.AWS_REGION }}

      - name: Sync environment variables
        run: |
          ./bin/pr-review-sync-vars.sh > /dev/null 2>&1
