name: PR review sync envionment variables

on:
  workflow_run:
    workflows: ["Deploy to Staging"]
    types:
      - completed

env:
  AWS_ACCOUNT_ID: ${{ vars.STAGING_AWS_ACCOUNT_ID }}
  AWS_REGION: ca-central-1

permissions:
  id-token: write
  contents: read

jobs:
  deploy-form-viewer-service:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/platform-forms-client-apply
          role-session-name: PRReviewSyncEnvVars
          aws-region: ${{ env.AWS_REGION }}

      - name: Sync environment variables
        run: |
          ./scripts/pr-review-sync-vars.sh > /dev/null 2>&1
