name: Rainbow cleanup (production)

on:
  workflow_run:
    workflows: ["Deploy to Production"]
    types:
      - completed
  workflow_dispatch:
    inputs:
      deployment-identifier:
        description: "Deployment identifier (type 'all' to delete all Rainbow deployments)"
        type: string
        required: true
  schedule:
    - cron: "0 4 * * *" # Nightly at 4am

env:
  AWS_ACCOUNT_ID: ${{ vars.PRODUCTION_AWS_ACCOUNT_ID }}
  AWS_REGION: ca-central-1
  LOAD_BALANCER_LISTENER_ARN: ${{ vars.PRODUCTION_LOAD_BALANCER_LISTENER_ARN }}
  MAXIMUM_NUMBER_OF_RAINBOW_DEPLOYMENTS_TO_KEEP_ALIVE: 6 # 3 legacy versions (there are two rules for each version)

permissions:
  id-token: write
  contents: read

jobs:
  generate-list-of-deployment-ids:
    runs-on: ubuntu-latest
    outputs:
      ids: ${{ steps.determine-rainbow-deployments-ids-to-clean-up.outputs.ids }}
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/platform-forms-client-apply
          role-session-name: RainbowCleanup
          aws-region: ${{ env.AWS_REGION }}

      - name: Determine rainbow deployments to clean up
        id: determine-rainbow-deployments-ids-to-clean-up
        run: |
          if [[ "${{ github.event_name }}" == "workflow_run" && "${{ github.event.workflow_run.conclusion }}" == "failure" ]]; then
            echo 'ids=["${{ github.event.workflow_run.head_sha }}"]' >> "$GITHUB_OUTPUT"
          elif [[ "${{ github.event_name }}" == "workflow_dispatch" && "${{ inputs.deployment-identifier }}" != "all" ]]; then
            echo 'ids=["${{ inputs.deployment-identifier }}"]' >> "$GITHUB_OUTPUT"
          elif [[ "${{ github.event_name }}" == "schedule" || "${{ inputs.deployment-identifier }}" == "all" ]]; then
            maxNumberOfRulesToSelect=$([[ "${{ inputs.deployment-identifier }}" == "all" ]] && echo -1 || echo "${{ env.MAXIMUM_NUMBER_OF_RAINBOW_DEPLOYMENTS_TO_KEEP_ALIVE }}")

            arn_list=($(
              aws elbv2 describe-rules \
                --listener-arn ${{ env.LOAD_BALANCER_LISTENER_ARN }} \
                --no-paginate \
                --query "Rules[?contains(Actions[0].ForwardConfig.TargetGroups[0].TargetGroupArn, 'rainbow')]" \
                | jq --argjson max "$maxNumberOfRulesToSelect" -r '.[] | select(.Priority | tonumber > $max) | .RuleArn'
            ))

            if [ ${#arn_list[@]} -gt 0 ]; then
              deployment_ids=()

              # Process ARNs in batches of 20
              for ((i=0; i<${#arn_list[@]}; i+=20)); do
                batch=("${arn_list[@]:i:20}")

                batch_ids=$(aws elbv2 describe-tags \
                  --resource-arns "${batch[@]}" \
                  | jq -r '[.TagDescriptions[].Tags[] | select(.Key == "Name") | .Value | sub("^rainbow-"; "")][]')

                deployment_ids+=($batch_ids)
              done

              json_array=$(printf "%s\n" "${deployment_ids[@]}" | sort -u | jq -R . | jq -s .)

              echo "ids=$(echo $json_array | sed 's/ //g')" >> "$GITHUB_OUTPUT"
            fi
          else
            echo "Unsupported workflow trigger event, will skip next step..."
            echo 'ids=' >> "$GITHUB_OUTPUT"
          fi

  cleanup-deployment-ids:
    runs-on: ubuntu-latest
    needs: generate-list-of-deployment-ids
    if: ${{ needs.generate-list-of-deployment-ids.outputs.ids != '' }}
    strategy:
      max-parallel: 1
      matrix:
        deployment-identifier: ${{ fromJSON(needs.generate-list-of-deployment-ids.outputs.ids) }}
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/platform-forms-client-apply
          role-session-name: RainbowCleanup
          aws-region: ${{ env.AWS_REGION }}

      - name: Cleanup rainbow deployment
        run: ./scripts/clean-up-rainbow-deployment.sh ${{ matrix.deployment-identifier }} ${{ env.LOAD_BALANCER_LISTENER_ARN }} > /dev/null 2>&1
