name: "Staging — Generate SBOM"

on:
  workflow_dispatch:
# on:
#   push:
#     branches: [main]
#     paths-ignore:
#       # Ignore all files and folders that start with '.'
#       - ".**"
#       # Ignore all files and folder in fixtures, tests, utils, etc.
#       - "__*/**"
#       - "tests/**"

# # Limit execution to 1 and also makes new trigger events cancel currently running workflow
# concurrency:
#   group: staging-generate-sbom
#   cancel-in-progress: true

permissions:
  id-token: write
  contents: write
  security-events: write

jobs:
  push-staging:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: arn:aws:iam::${{ vars.STAGING_AWS_ACCOUNT_ID }}:role/platform-forms-client-apply
          role-session-name: ECRPush
          aws-region: ca-central-1

      - name: Login to Staging Amazon ECR
        id: login-ecr-staging
        uses: aws-actions/amazon-ecr-login@d63b14614fe5d7fc5e5e52c523dea4e876816cc4

      - name: Docker generate SBOM
        uses: cds-snc/security-tools/.github/actions/generate-sbom@5a93d1deec72d4cb2737cb8418364fedba1c695c # v3.2.1
        env:
          TRIVY_DB_REPOSITORY: ${{ vars.TRIVY_DB_REPOSITORY }}
          ECR_REGISTRY: ${{ steps.login-ecr-staging.outputs.registry }}
        with:
          docker_image: "${{ env.ECR_REGISTRY }}/form_viewer_staging:${{ github.sha }}"
          dockerfile_path: "Dockerfile"
          sbom_name: "forms-client"
          token: "${{ secrets.GITHUB_TOKEN }}"
        continue-on-error: true # TODO: remove once Trivy ECR has been setup

      - name: Logout of Staging Amazon ECR
        if: always()
        run: docker logout ${{ steps.login-ecr-staging.outputs.registry }}

      - name: Report deployment to Sentinel
        if: always()
        uses: cds-snc/sentinel-forward-data-action@main
        with:
          input_data: '{"product": "forms", "sha": "${{ github.sha }}", "version": "${{ github.sha }}", "repository": "${{ github.repository }}", "environment": "staging", "status": "${{ job.status }}"}'
          log_type: CDS_Product_Deployment_Data
          log_analytics_workspace_id: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
          log_analytics_workspace_key: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}
