name: Vitest Tests
on:
  pull_request:
    branches: [develop, main, feature/*]

jobs:
  vitest-run:
    name: Vitest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e # v1.2.0
      - name: Node.JS Setup
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: .nvmrc
      - name: Yarn update to V4
        run: corepack enable && yarn set version stable

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: linux-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            linux-yarn-
      - name: "Install dependencies"
        run: yarn workspaces focus gcforms

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps chromium

      - name: Vitest Tests
        run: yarn test:vitest

      - name: Vitest Browser Tests
        run: yarn test:vitest:browser
